{% capture captured_page %}



<article class="collection-featured-item collection-featured-item-alignment-right">

      <figure class="collection-featured-item-image">
          <a href="/pages/services">
          <noscript data-rimg-noscript="">
            <img src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819" alt="Work With Laura"
            data-rimg="noscript" srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819 1x">
          </noscript>
        
          <img src="{{'work-with-laura.jpg' | asset_url}}" alt="Work With Laura" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{'work-with-laura.jpg' | asset_url}}" data-rimg-max="520x566" data-rimg-crop="" srcset="{{'work-with-laura.jpg' | asset_url}}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='520'%20height='566'></svg>">

          </a>
      </figure>

      <div class="collection-featured-item-info">
              <h4 class="collection-featured-item-title"><a href="/pages/contact">Work With Laura</a></h4><div class="collection-featured-item-description"><p>Inquire about my services, speaking engagements, workshops and more.
</p>
      </div>

                <a class="collection-featured-item-cta" href="/pages/services">
                <span class="collection-featured-item-cta-text">View more</span>
                <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
              </a>
            </div>

</article>

<article class="collection-featured-item collection-featured-item-alignment-left"><div class="collection-featured-item-info">
        <a class="slideshow-slide-link" href="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=20c4b1a4c0" " target="_blank""><span class="slideshow-slide-link-text">FREE PROGRAM</span></a>

        <h4 class="collection-featured-item-title"><a href="/pages/welcome-to-7-days-to-better-sex">Welcome to 7 Days to Better Sex!</a></h4>
        
        <div class="collection-featured-item-description"><p class="emphasize">“Love doesn’t just sit there, like a stone; it has to be made, like bread, remade all the time, made new.”</p>
        <p style="text-align: right;">Ursula Le Guin</p>
        <p>Are you ready to jumpstart your love life and move from passivity to passion?&nbsp; After all, passivity is the most dangerous trait you can have in a romantic relationship...</p>
        </div>
        <a class="collection-featured-item-cta" href="/pages/welcome-to-7-days-to-better-sex">
          <span class="collection-featured-item-cta-text">View more</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
        </a>
      </div>

      <figure class="collection-featured-item-image">
      <a href="/pages/welcome-to-7-days-to-better-sex">
  
      <noscript data-rimg-noscript="">
      <img src="{{ 'seven-days.jpg' | asset_url}}" alt="Welcome to 7 Days to Better Sex!" data-rimg="noscript" srcset="{{ 'seven-days.jpg' | asset_url}}">
      </noscript> 

      <img src="{{ 'seven-days.jpg' | asset_url}}" alt="Welcome to 7 Days to Better Sex!" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'seven-days.jpg' | asset_url}}" data-rimg-max="517x549" data-rimg-crop="" srcset="{{ 'seven-days.jpg' | asset_url}}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='517'%20height='549'></svg>">

      </a>
      </figure>
      
</article>



<article class="collection-featured-item collection-featured-item-alignment-right">

      <figure class="collection-featured-item-image">
          <a href="/pages/quantum-love">
          <noscript data-rimg-noscript="">
            <img src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819" alt="Quantum Love"
            data-rimg="noscript" srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819 1x">
          </noscript>
        
          <img src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819" alt="Quantum Love" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_{size}.jpg?v=1549384819" data-rimg-max="520x566" data-rimg-crop="" srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819 1.00x" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='520'%20height='566'></svg>">

          </a>
      </figure>

      <div class="collection-featured-item-info">
              <h4 class="collection-featured-item-title"><a href="/pages/quantum-love">Quantum Love</a></h4><div class="collection-featured-item-description"><p>Quantum Love is all about harnessing your body’s energy to create the love, relationship and sexual connection you long to experience.&nbsp; You have the power to change everything, right now, and your partner doesn’t even have to know you are doing it! ...</p>
      </div>

                <a class="collection-featured-item-cta" href="/pages/quantum-love">
                <span class="collection-featured-item-cta-text">View more</span>
                <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
              </a>
            </div>

</article>





<article class="collection-featured-item collection-featured-item-alignment-left">
  
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title"><a href="#" class="js-video-button" data-channel="youtube" data-video-id="OA1gSJCSvrE">The Secret Mind Trick to Attract the Love You Want</a></h4><div class="collection-featured-item-description"><p>Learn how to harness your body's energy to create the love you desire.</p>
        </div><a href="#" class="js-video-button collection-featured-item-cta" data-channel="youtube" data-video-id="OA1gSJCSvrE">
          <span class="collection-featured-item-cta-text">Watch Video</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
        </a>
      </div>
  
  
	  <figure class="collection-featured-item-image">
          <a href="#" class="js-video-button" data-channel="youtube" data-video-id="OA1gSJCSvrE">

          <noscript data-rimg-noscript="">
          <img src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/home-video_505x502.jpg?v=1549534930" alt="The Secret Mind Trick to Attract the Love You Want" data-rimg="noscript" srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/home-video_505x502.jpg?v=1549534930 1x">
          </noscript>

          <img src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/home-video_505x502.jpg?v=1549534930" alt="The Secret Mind Trick to Attract the Love You Want" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/home-video_{size}.jpg?v=1549534930" data-rimg-max="505x502" data-rimg-crop="" srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/home-video_505x502.jpg?v=1549534930 1.00x" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='505'%20height='502'></svg>">

    </a>
      </figure>  
</article>


	<script
	src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous"></script>
	<script src="{{ 'jquery-modal-video.min.js' | asset_url }}"></script>
	<script>
		$(".js-video-button").modalVideo({
          channel: 'youtube',
		});
	</script>


{% include 'testimonials' %}

{% include 'workshops' %}
{% endcapture %}
{% include 'password-protect' %}