<div class="section-password-wrapper">
  <h1 aria-label="{{ shop.name | escape }}">
    {%- if section.settings.logo != blank -%}
      {%
        include 'rimg',
        img: section.settings.logo,
        size: '400x',
        alt: section.settings.logo.alt
      %}
    {%- else -%}
      {{ shop.name }}
    {%- endif -%}
  </h1>

  <h2>
    {{ 'password.title' | t}}
  </h2>

  {% unless shop.password_message == blank %}
    <p>
      {{ shop.password_message }}
    </p>
  {% endunless %}

  {%- if section.settings.show_newsletter_signup -%}
    <div class="section-password-newsletter">
      {% if section.settings.newsletter_title != blank %}
        <h3>{{ section.settings.newsletter_title | escape }}</h3>
      {% endif %}

      {% if section.settings.newsletter_text != blank %}
        <div class="section-password-newsletter-text">
          {{ section.settings.newsletter_text }}
        </div>
      {% endif %}

      {%- include 'newsletter' -%}
    </div>
  {%- endif -%}

  <div class="section-password-form">
    <h3>{{ 'password.enter_password' | t }}</h3>

    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <input
        type="password"
        name="password"
        placeholder="{{ 'general.form.password_placeholder' | t }}">
      <input
        type="submit"
        class="button"
        value="{{ 'general.form.submit' | t }}">
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "class": "section-password",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "id": "show_newsletter_signup",
      "type": "checkbox",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "id": "newsletter_title",
      "type": "text",
      "label": "Title",
      "default": "Subscribe"
    },
    {
      "id": "newsletter_text",
      "type": "richtext",
      "label": "Text"
    }
  ]
}

{% endschema %}