<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'podcats.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'podcats.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'podcats.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'podcats.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'podcats.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" style="color: #000000;"><span class="slideshow-slide-link-text">RADIO</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Listen &amp; Learn</h2>
      
      <div class="slideshow-slide-text" style="color: #000000;">
              <p>Dr Berman is the world’s leading expert in sex, love and relationships.</p>
      </div>

      
    

    </div>

</article>
<section id="ask" class="mt50"><a href="https://soundcloud.com/search?q=too%20risque%20for%20radio" target="_blank">Listen and subscribe to the podcast here.</a></section>


<section class="inner-quote">
    <span class="quotation"></span> 
    <p>Good morning! Today we’ll have a great talk with the author...</p>
</section>

</div>

 </div>
</article>


<div class="inner-content">
{{ page.content }}
 <!--
     <h2>Podcasts</h2>

      <ul class="links-list list-variation group">
              <li><a href="http://drlauraberman.com/wp-content/uploads/uncovered_radio/FORD2-AIR.mp3">Dr. Berman talks with relationship expert Arielle Ford about the 5 keys to finding the right partner</a></li>
              <li><a href="http://drlauraberman.com/wp-content/uploads/uncovered_radio/YASS-AIR.mp3">Dr. Berman talks with pain expert Dr. Mitchell Yass about pain resolution</a></li>
              <li><a href="http://drlauraberman.com/wp-content/uploads/uncovered_radio/MOORJANI-AIR.mp3">Dr. Berman talks with author Anita Moorjani about her near death experience</a></li>
              <li><a href="http://drlauraberman.com/wp-content/uploads/uncovered_radio/ROBBINS-AIR.mp3">Dr. Berman talks with author &amp; speaker Mike Robbins on how to find happiness in all aspects of your life</a></li>
              <li><a href="http://drlauraberman.com/wp-content/uploads/uncovered_radio/MYSTIC-AIR.mp3">Dr. Berman talks with chefs Denise &amp; Meadow Lim about how food can affect your mood</a></li>
              <li><a href="https://soundcloud.com/compass-radio/too-risque-for-radio-the-aphrodite-training">Dr. Berman talks with Marianne Williamson about women, love &amp; sex</a></li>
              <li>Dr. Berman with Greg Kuhn on the science behind “The Secret”:&nbsp;&nbsp; <a href="/wp-content/uploads/2014/05/PODCAST-4-Greg-Kuhn_pt1.mp3">PODCAST 4 – Greg Kuhn_pt1</a>&nbsp;&nbsp; <a href="/wp-content/uploads/2014/05/PODCAST-4-Greg-Kuhn_pt2.mp3">PODCAST 4 – Greg Kuhn_pt2</a></li>
              <li>Dr. Berman with positive parenting with Dr. Laura Markham:&nbsp; <a href="/wp-content/uploads/2014/05/PODCAST-3-Dr-Laura-Markham_pt1.mp3">PODCAST 3 – Dr Laura Markham_pt1</a>&nbsp;&nbsp;&nbsp; <a href="/wp-content/uploads/2014/05/PODCAST-3-Dr-Laura-Markham_pt2.mp3">PODCAST 3 – Dr Laura Markham_pt2</a></li>
              <li>Dr. Berman with Valerie Gatto- Miss Pennsylvania USA:&nbsp;&nbsp;<a href="/wp-content/uploads/2014/06/PODCAST-5-Valarie-Gatto_pt1.mp3">PODCAST 5 – Valarie Gatto_pt1</a>&nbsp; <a href="/wp-content/uploads/2014/06/PODCAST-5-Valarie-Gatto_pt2.mp3">PODCAST 5 – Valarie Gatto_pt2</a></li>
        </ul>
 -->

</div>

