<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'speaking.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'speaking.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'speaking.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'speaking.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'speaking.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" style="color: #000000;"><span class="slideshow-slide-link-text">speaking</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Learn by listening</h2>
      
      <div class="slideshow-slide-text" style="color: #000000;">
              <p>Watch Dr Laura Berman speak at O You! Convention</p>
      </div>
    

    </div>

</article>


<section class="inner-quote">
    <span class="quotation"></span> 
    <p>Helping you reach your full potential in love, sex and relationships.</p>
</section>

</div>

 </div>
</article>


<div class="inner-content">

{{ page.content }}
  
<!--
    <h2>Speaking Topics</h2>

                <button class="accordion">Turning the Golden Years Platinum </button>
                <div class="panel">
                  <p>There is no such thing as a sexpiration date anymore! Learn how you can enjoy active and passionate sex into your golden years and beyond.</p>
                </div>

                <button class="accordion">Raising Sexually Healthy Children</button>
                <div class="panel">
                  <p>Having “the talk” can be awkward and difficult, but so can having a pregnant teenager! Tackle sexual issues with your kids before it’s too late, all with the help of Dr. Berman’s easy and relatable tips.</p>
                </div>

                <button class="accordion">Learn your Partner’s Love Language</button>
                <div class="panel">
                  <p>We all express and receive love differently. Some of us crave romance and sweet nicknames, while some of us crave quality time and thoughtful gifts. Learn your partner’s love language so that you can each be fluent with one another in the bedroom and outside the bedroom.</p>
                </div>


                <button class="accordion">Breast Cancer and Sex </button>
                <div class="panel">
                  <p>As a breast cancer survivor and a sex therapist, Dr. Berman has unique and invaluable insight into how women can safeguard their passion and their desire during this difficult time. </p>
                </div>

                <button class="accordion">Passion Prescription </button>
                <div class="panel">
                  <p>(A Mind, Body and Spirit Approach to Jump Starting Your Relationship): Learn how to create more excitement, more intimacy and more connection into your relationship as well into your daily life. </p>
                </div>

                <button class="accordion">Conscious Sex  </button>
                <div class="panel">
                  <p>Go beyond everyday lovemaking and discover the next level of sexual pleasure. Learn the science behind techniques such as Tantric Sex as well as many others. </p>
                </div>

                <button class="accordion">Girls’ Night Out  </button>
                <div class="panel">
                  <p>This is a must for every woman. Learn everything you need to know about men as well as tips on how to get better romance, intimacy and sex, all in one fun night! </p>
                </div>

                <button class="accordion">Guys’ Night Out  </button>
                <div class="panel">
                  <p>Let Dr. Berman demystify the opposite sex for you and teach you everything you need to know about women and their hidden desires. Find out surefire ways to pleasure her as well as ways to satisfy her emotional needs. </p>
                </div>

                <button class="accordion">Sex 101 for Physicians  </button>
                <div class="panel">
                  <p>Sexual health plays a big role in physical health. Learn how to incorporate sexual medicine into your practice and how to get your patients to open up about their sexual issues and questions. </p>
                </div>

                <button class="accordion">Sex 101 for Therapists  </button>
                <div class="panel">
                  <p>Sexual desires and experiences can greatly impact mental and emotional health. Get an introduction to the practices and principles of sex therapy, as well as insight into how medical issues can impact sexual response and desire.
                </p>
                </div>

                <button class="accordion">Design Your Own </button>
                <div class="panel">
                  <p>Dr. Berman is a expert that can speak to many topics regarding sexuality, sexual health, relationships, and intimacy. She can customize a topic to suit you and your organization’s specific needs. </p>
                </div>

-->

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
</div>

