<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'about-laura-berman.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'about-laura-berman.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'about-laura-berman.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'about-laura-berman.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'about-laura-berman.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" style="color: #000000;"><span class="slideshow-slide-link-text">ABOUT</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Dr Laura Berman</h2>

      <div class="slideshow-slide-text" style="color: #000000;">
              <p>Dr Berman is the world’s leading expert in sex, love and relationships.</p>
      </div>

    </div>

</article>


<section class="inner-quote">
    <p>She earned two Masters and a PhD degree from New York University and has spent the last several decades helping individuals and couples around the globe love and be loved better. </p>
</section></div>

 </div>
</article>

<img src="{{ 'bio-laura-oprah.jpg' | asset_url }}" alt="Laura Berman and Oprah" />

<div class="inner-content">

{{ page.content }}


</div>

