<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'quantum-love.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'quantum-love.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'quantum-love.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'quantum-love.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'quantum-love.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="/pages/quantum-love" style="color: #000000;"><span class="slideshow-slide-link-text">&laquo; Quantum Love</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Quantum Love Praise &amp; Press</h2>


    
 

    </div>

</article>

<section id="ask" class="mt50"><a href="http://www.amazon.com/Quantum-Love-Atomic-Energy-Relationship/dp/1401948839/ref=sr_1_1?ie=UTF8&amp;qid=1444251880&amp;sr=8-1&amp;keywords=laura+berman+quantum+love" target="_blank">Order The Book!</a></section>



</div>

 </div>
</article>


<div class="inner-content content-inner">
{{ page.content }}

<!--
<article class="collection-featured-item collection-featured-item-alignment-right"><figure class="
          collection-featured-item-image
          ">
        <a href="/collections/quantum-love">

  
    <noscript data-rimg-noscript="">
      <img
        
          src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819"
        

        alt="Quantum Love"
        data-rimg="noscript"
        srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819 1x"
        
        
        
      >
    </noscript>
  

  <img src="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819" alt="Quantum Love" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_{size}.jpg?v=1549384819" data-rimg-max="520x566" data-rimg-crop="" srcset="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_520x566.jpg?v=1549384819 1.00x" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='520'%20height='566'></svg>">




</a>
      </figure><div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title"><a href="/collections/quantum-love">Quantum Love</a></h4><div class="collection-featured-item-description"><p>Quantum Love is all about harnessing your body’s energy to create the love, relationship and sexual connection you long to experience.  You have the power to change everything, right now, and your partner doesn’t even have to know you are doing it! I have put together a set of beautiful guided meditations for you, to get you into the Quantum Love Zone where all you desire in love is possible. The Quantum Love Guided Meditation Kit includes 5 meditations designed to help you improve your body’s energetic frequency, create the relationship you desire, and give your sex and romantic life a major boost! With these meditations, you are on your way to Quantum Love and becoming a master manifester in your romantic life!</p></div>
        

        <div class="section group">
          <div class="col span_1_of_2">

                <a class="collection-featured-item-cta" href="{{ 'quantum_love-chapter_1.pdf' | asset_url }}">
                  <span class="collection-featured-item-cta-text"><span class="color-black">download</span> The first chapter</span>
                  <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                </a>
          </div>
          <div class="col span_1_of_2">
                <a class="collection-featured-item-cta" href="https://www.hayhouseu.com/mind-blowing-love-online-course-hhu">
                  <span class="collection-featured-item-cta-text">Check out my web course <br /><span class="color-black">Mind Blowing Love!</span>
                  <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10"><path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                </a>		
          </div>
          
        </div>       


      </div>

</article>

       <div class="section group quantum-love">
          <div class="col span_1_of_2">
                  <h3>Quantum Love</h3>
                  <h3>Create the Love Life You Desire</h3>

                  <p><strong>September 13 - 15, 2019</strong></p>

                  <p><strong>Friday - Sunday, 2 nights</strong></p>

                  <p>All-inclusive program package to include:</p>

                  <ul>
                    <li>Tuition</li>
                    <li>Three Meals in Kitchen Table (daily)</li>
                    <li>Shared or Private Accommodations</li>
                    <li>Signature classes and wellness offerings</li>
                    <li>Please Note: All packages are priced per person. Should you elect a shared accommodation and community hall bath, 1440 will randomly pair you with a gender-specific roommate. Only private rooms have the option of a private bath.  1440 Multiversity is a smoke-free campus.</li>
                  </ul>

                  <a class="collection-featured-item-cta" href="https://1440.org/programs/relationships/now-what-2/">Register Now!
                  <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                </a>
          </div>
          <div class="col span_1_of_2">
                  <img src="{{ 'love.jpg' | asset_url }}" alt="Quantum Love - Laura Berman" />  
          </div>
          
        </div>       

-->

</div>

