<div id="inner-page">
<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left mb50" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'ask-laura.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'ask-laura.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'ask-laura.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'ask-laura.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'ask-laura.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" " target="_blank""><span class="slideshow-slide-link-text">FEEDBACK</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Ask Laura</h2>

      <div class="slideshow-slide-text" style="color: #000000;">
          <p>Your questions are always welcome!</p>
          <span>&raquo; <a href="#ask-a-question">Ask A Question</a></span>
      </div>

    </div>

</article>
<section id="ask"><a href="#ask-a-question">Ask A Question</a></section>


<section class="quote pb50">
   
    <img class="laura-berman-logo" src="{{ 'laura-berman-logo.gif' | asset_url }}" alt="Dr Laura Berman" />
    <p>Make the sex, body, soul connection.</p>
    <a href="#spiritual-connection"><span> Learn More</span></a>

</section>


<div class="inner-content">


    <section id="ask-laura">
            <div class="section group">
                    <div class="col span_1_of_3">
                      <a href="#spiritual-connection"><span class="spiritual-connection-icon"></span></a>
                      <h3>Spiritual Connection</h3>
                      <p><a href="#spiritual-connection">Read More</a></p>
                    </div>
                    <div class="col span_1_of_3">
                      <a href="#sexual-mastery"><span class="finding-love-icon"></span></a>
                      <h3>Sexual Mastery</h3>
                      <p><a href="#sexual-mastery">Read More</a></p>
                    </div>
                    <div class="col span_1_of_3">
                      <a href="#finding-love"><span class="sexual-mastery-icon"></span></a>
                      <h3>Finding Love</h3>
                      <p><a href="#finding-love">Read More</a></p>            </div>
            </div>
        
            <div class="section group">
                    <div class="col span_1_of_3">
                    <a href="#sexual-challenges"><span class="sexual-challenges-icon"></span></a>
                    <h3>Sexual Challenges</h3>
                    <p> <a href="#sexual-challenges">Read More</a></p>            </div>
                    <div class="col span_1_of_3">
                      <a href="#better-intimacy"><span class="better-intimacy-icon"></span></a>
                      <h3>Better Intimacy</h3>
                      <p> <a href="#better-intimacy">Read More</a></p>            </div>
                    <div class="col span_1_of_3">
                      <a href="#parenting"><span class="parenting-icon"></span></a>
                      <h3>Parenting</h3>
                      <p> <a href="#parenting">Read More</a></p>            </div>
            </div>   
    </section>

    <section class="quote">
    <span class="quotation"></span>
        <p>"Helping You Reach Your full Potential in Love, Sex & Relationships."</p>
        <span> Dr Laura Berman </span>
    </section>

    <h3 id="spiritual-connection" class="center">Spiritual Connection</h3>

    <div class="section group workshops">
            <div class="col span_1_of_3">
                  <a href="/blogs/news/heres-why-there-is-no-such-thing-as-no-strings-attached-sex"><img class="circular--square workshop-image" src="{{ 'no-strings-attached.jpg.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Here’s Why There Is No Such Thing As “No Strings Attached” Sex</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/heres-why-there-is-no-such-thing-as-no-strings-attached-sex">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/can-great-sex-make-you-believe-in-god"><img class="circular--square workshop-image" src="{{ 'great-sex.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Can Great Sex Make You Believe in God?</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/can-great-sex-make-you-believe-in-god">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/can-you-change-your-past"><img class="circular--square workshop-image" src="{{ 'can-you-change-past.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Can You Change Your Past?</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/can-you-change-your-past">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>            
    </div>

    <p class="more"><a class="article-excerpt-read-more" href="/pages/spiritual-connection#spiritual-connection">VIEW ALL</a></p>



    <h3 id="sexual-mastery" class="center">Sexual Mastery</h3>

    <div class="section group workshops">
            <div class="col span_1_of_3">
                  <a href="/blogs/news/heres-what-we-can-learn-from-ted-cruz-and-his-alleged-viewing-of-mommy-porn"><img class="circular--square workshop-image" src="{{ 'ted-cruz.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Here’s What We Can Learn From Ted Cruz and His Alleged Viewing of ‘Mommy Porn’</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/heres-what-we-can-learn-from-ted-cruz-and-his-alleged-viewing-of-mommy-porn">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/drunk-sex-is-bad-sex"><img class="circular--square workshop-image" src="{{ 'drunk-sex.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Drunk Sex is Bad Sex</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/drunk-sex-is-bad-sex">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/50-shades-of-grey-and-the-truth-about-bdsm"><img class="circular--square workshop-image" src="{{ 'fifty-shades.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>“50 Shades of Grey and the Truth about BDSM”</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/50-shades-of-grey-and-the-truth-about-bdsm">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>            
    </div>

    <p class="more"><a class="article-excerpt-read-more" href="/pages/sexual-mastery#sexual-mastery">VIEW ALL</a></p>



    <h3 id="finding-love" class="center">Finding Love</h3>
    <div class="section group workshops">
            <div class="col span_1_of_3">
                  <a href="/blogs/news/leaving-the-garden-of-eden-what-adam-and-eve-can-teach-us-about-love"><img class="circular--square workshop-image" src="{{ 'garden-of-eden.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Leaving the Garden of Eden: What Adam and Eve Can Teach Us About Love</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/leaving-the-garden-of-eden-what-adam-and-eve-can-teach-us-about-love">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/forget-newlyweds-now-we-have-nearlyweds"><img class="circular--square workshop-image" src="{{ 'newlyweds.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Forget Newlyweds… Now We Have Nearlyweds!</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/forget-newlyweds-now-we-have-nearlyweds">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/get-in-a-weekend-mood-no-matter-what-the-day-of-the-week"><img class="circular--square workshop-image" src="{{ 'weekend-mood.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Get in a ‘Weekend Mood’ — No Matter what the Day of the Week!</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/get-in-a-weekend-mood-no-matter-what-the-day-of-the-week">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>            
    </div>

    <p class="more"><a class="article-excerpt-read-more" href="/pages/finding-love#finding-love">VIEW ALL</a></p>


    <h3 id="sexual-challenges" class="center">Sexual Challenges</h3>
    <div class="section group workshops">
            <div class="col span_1_of_3">
                  <a href="/blogs/news/when-you-miss-your-foreskin-the-real-deal-on-male-circumcision"><img class="circular--square workshop-image" src="{{ 'circumcision.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>When You Miss Your Foreskin: The Real Deal on Male Circumcision</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/when-you-miss-your-foreskin-the-real-deal-on-male-circumcision">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/can-watching-porn-ruin-your-marriage"><img class="circular--square workshop-image" src="{{ 'marriage.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Can Watching Porn Ruin Your Marriage?</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/can-watching-porn-ruin-your-marriage">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/the-five-misconceptions-that-are-ruining-your-sex-life"><img class="circular--square workshop-image" src="{{ 'misconceptions.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>The Five Misconceptions that are Ruining Your Sex Life</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/the-five-misconceptions-that-are-ruining-your-sex-life">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>            
    </div>

    <p class="more"><a class="article-excerpt-read-more" href="/pages/sexual-challenges#sexual-challenges">VIEW ALL</a></p>

    <h3 id="better-intimacy" class="center">Better Intimacy</h3>
    <div class="section group workshops">
            <div class="col span_1_of_3">
                  <a href="/blogs/news/are-you-an-emasculated-man"><img class="circular--square workshop-image" src="{{ 'emasculated.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Are You An Emasculated Man?</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/are-you-an-emasculated-man">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/help-my-husband-is-annoying-me-to-death"><img class="circular--square workshop-image" src="{{ 'annoying.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Help! My Husband is Annoying Me to Death!</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/help-my-husband-is-annoying-me-to-deathd">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/5-things-women-can-do-to-create-more-equality-in-their-homes"><img class="circular--square workshop-image" src="{{ 'five-things.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>5 Things Women Can Do to Create More Equality in their Homes</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/5-things-women-can-do-to-create-more-equality-in-their-homes">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>            
    </div>

    <p class="more"><a class="article-excerpt-read-more" href="/pages/better-intimacy#better-intimacy">VIEW ALL</a></p>

    <h3 id="parenting" class="center">Parenting</h3>
    <div class="section group workshops">
            <div class="col span_1_of_3">
                  <a href="/blogs/news/how-to-talk-to-children-about-the-mass-shooting-in-las-vegas"><img class="circular--square workshop-image" src="{{ 'talk-to-children.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>How To Talk To Children About The Mass Shooting In Las Vegas</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/how-to-talk-to-children-about-the-mass-shooting-in-las-vegas">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/raising-sensitive-kids-what-your-kid-s-tantrums-have-to-teach-you"><img class="circular--square workshop-image" src="{{ 'raising-sensitive-kids.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>Raising Sensitive Kids: What Your Kid’s Tantrums Have to Teach You</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/raising-sensitive-kids-what-your-kid-s-tantrums-have-to-teach-you">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>
            <div class="col span_1_of_3">
                  <a href="/blogs/news/how-to-talk-to-your-college-students-about-drinking-sexual-assault"><img class="circular--square workshop-image" src="{{ 'college-students.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
                  <div class="workshop">
                        <h4>How to Talk to Your College Students about Drinking & Sexual Assault</h4>
                        <a class="article-excerpt-read-more" href="/blogs/news/how-to-talk-to-your-college-students-about-drinking-sexual-assaultt">
                          <span class="article-excerpt-read-more-text">Read article</span>
                          <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                          <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
                        </a>		
                  </div>
            </div>            
    </div>

    <p class="more"><a class="article-excerpt-read-more" href="/pages/parenting#parenting">VIEW ALL</a></p>


</div>



</div>

<h3 id="ask-a-question">Ask Laura</h3>
<p>Your questions are always welcome!</p>

      <div class="page-contact">
    {% form 'contact' %}
      {% if form.posted_successfully? %}
        <p class="success-message">
          {{ 'contact.form.success' | t  }}
        </p>
      {% else %}

        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}

        <div class="input-wrapper">
          <label for="contact-name">{{ 'contact.form.name' | t }}</label>
          <input
            id="contact-name"
            type="text"
            value="{{ form.name }}"
            name="contact[name]"
            class="input-field {% if form.errors contains 'name' %}error{% endif %}">
        </div>

        <div class="input-wrapper">
          <label for="contact-email">{{ 'contact.form.email' | t }}</label>
          <input
            id="contact-email"
            type="text"
            value="{{ form.email }}"
            name="contact[email]"
            class="input-field {% if form.errors contains 'email' %}error{% endif %}">
        </div>


        <div class="input-wrapper">
          <label for="contact-message">{{ 'contact.form.message' | t }}</label>
          <textarea
            id="contact-message"
            name="contact[comments]"
            class="input-field {% if form.errors contains 'comments' %}error{% endif %}"
          >{{ form.comments }}</textarea>
        </div>

        <input class="contact-form-submit" type="submit" value="{{ 'contact.form.submit' | t }}">
      {% endif %}
    {% endform %}

   



  </div>

