<div id="inner-page">
<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="mb50 slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'seven-days-banner.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'seven-days-banner.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'seven-days-banner.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'seven-days-banner.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'seven-days-banner.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      
      <h2 class="slideshow-slide-title" style="color: #000000;">Welcome to 7 Days to Better Sex!
</h2>

      <div class="slideshow-slide-text" style="color: #000000;">
          <form action="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=20c4b1a4c0" method="post" target="_blank" novalidate>
          <button type="submit" class="slideshow-slide-link" style="border: none;cursor: pointer;font-size: 18px;">
            <p><span class="slideshow-slide-link-text">CLICK HERE FOR FREE PROGRAM</span></p>
           </button>
          </form>      
      
      </div>

    </div>

</article>


<section class="quote">
<span class="quotation"></span>
    <p>"Love doesn’t just sit there, like a stone; it has to be made, like bread, remade all the time, made new."</p>
    <span> Ursula Le Guin </span>
</section>




<article class="collection-featured-item collection-featured-item-alignment-right">

      <figure class="collection-featured-item-image">
          <noscript data-rimg-noscript="">
            <img src="{{ 'happy-couple.jpg' | asset_url }}" alt="Quantum Love"
            data-rimg="noscript" srcset="{{ 'happy-couple.jpg' | asset_url }} 1x">
          </noscript>
        
          <img src="{{ 'happy-couple.jpg' | asset_url }}" alt="Quantum Love" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="//cdn.shopify.com/s/files/1/0099/8227/9780/collections/quantum-love_{size}.jpg?v=1549384819" data-rimg-max="520x566" data-rimg-crop="" srcset="{{ 'happy-couple.jpg' | asset_url }} 1.00x" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='520'%20height='566'></svg>">

      </figure>

      <div class="collection-featured-item-info">
      <a class="slideshow-slide-link" href="" style="color: #000000;"><span class="slideshow-slide-link-text">HELLO MY FRIEND</span></a>
              <h4 class="collection-featured-item-title">Are you ready to jumpstart your love life and move from passivity to passion?</h4><div class="collection-featured-item-description"><p>After all, passivity is the most dangerous trait you can have in a romantic relationship. It’s what happens when we stop (or possibly never start) taking an active role in the creation and maintenance of our relationship(s). We sit there and expect love, passion and even orgasms to just fall into our laps. And then when it doesn’t happen, we feel sorry for ourselves. We feel sad and small. Or we feel angry and resentful, and maybe that sadness and fear even causes us to feel we have the right to cheat, or the need to turn to food, alcohol, shopping or other unhealthy coping mechanisms. Or maybe that sadness and anger just causes us to shut down…to close up like a flower without any sunlight. To present a mask to our partner rather than our authentic selves.</p>
               <form action="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=20c4b1a4c0" method="post" target="_blank" novalidate>
          <button type="submit" class="slideshow-slide-link" style="border: none;cursor: pointer;font-size: 18px;">
            <p><span class="slideshow-slide-link-text">CLICK HERE FOR FREE PROGRAM</span></p>
           </button>
          </form>   
        </div>

                
            </div>



</article>


<div class="inner-content">

      <h3>After the 7 Days to Better Sex Program, you will be in the driver’s seat of your sex life, actively building the passion you desire. Are you ready?</h3>

      <p>Well, let’s start with letting go of the idea that great love just happens.  It’s true that the ability for passion is indeed organic.  But sexual pleasure and happiness doesn’t just find us in our very living rooms. I blame Hollywood and rom-coms for some of this. After all, we don’t often see romantic comedies about a couple who has been married for 10 years and is dealing with lackluster libidos. Or romantic dramas about a couple with 3 kids who haven’t kissed in years.</p>

      <p>But we can’t just blame the media. We also need to look at our own ways of thinking and existing in the world. So many of us are passive in all aspects of our lives, not just our romantic relationships. We want a new job, but if we apply to a couple of places and get turned down, we give up. We think some version of “I am not worthy” (I’m too fat, too ugly, too selfish, too weird…you pick your poison).  And we find comfort in that victim role. We want to lose weight, but after a lot of false tries, we think “I am doomed to be heavy,” and we put our sneakers and our dreams away. The same thing happens in our love lives. Whether married, single or somewhere in between, I find that when we believe we simply aren’t good enough, our marriage isn’t good enough, our partner isn’t good enough, we simply give up. We find comfort in that role of passive bystander. It’s comforting because it’s safe. It’s familiar. It’s what we know.</p>

      <p>The good news is that with this program, the Universe is extending you the invitation to take a bold step out of the familiar and into the unfamiliar. Out of the safe and into the risk. Out of the comfort and into the challenge. Why? Because that’s where the most amazing, life-altering, soul-growing, and yes, orgasm-inducing things happen. That’s where QUANTUM LOVE happens, the love that results when you consciously take ownership of the energy in your body, heart and mind and use it to serve your love life.</p>

      <p>Because Quantum Love is for everyone. It is our birthright. It is our key to unlocking the magic of the universe. All we have to do is get out of the audience and onto the stage.</p>

      <p>Through my 25 years of counseling couples into creating and keeping the relationship of their dreams, I’ve developed a simple yet effective week-long program to jumpstart and improve every kind of romantic relationship—regardless of age, gender, sexual orientation, and relationship history. The 7 Days program can also help you call in a love relationship if you’re currently single because it gets to the root of the most important love relationship in your life: the one you have with yourself. As you’ll soon discover, when you attend to THIS relationship, all of your other relationships can’t help but shift and meet you at your newly improved state.</p>

      <p>This is why the 7 Days to Better Sex Program is divided into two main components; the emotional and sexual aspects of love. Without one, you can’t create the other.  You can go as fast or as slow as feels comfortable for you.  In fact, if you are feeling really tentative and shut down, feel free to take it slow.  You may feel comfortable with some of the assignments on some of the days, and on others, you may want to take your time.  With that in mind, I’ve designed the 7 Days Program in a way that you can move along quickly and complete it in the seven days, or you can choose to stay longer on each day.  Heck, take seven weeks if you wish! The idea is to stretch your comfort zone, but not to push yourself too far out of it. Each day (starting tomorrow) you’ll receive an email with exercises and lessons to guide you on your journey to better love and better sex. You’ll also have access to a support group (which you can find here) of like-minded individuals who are also going through this program and who can join you on your journey to better love and better sex. I will be weighing in there too, so please join us!</p>

      <p>The best way to take advantage of this program is to fully immerse yourself in each day’s exercises and follow the lessons sequentially. If you do so, at the end of the week (or however long you take to complete all the steps), you’ll find yourself not only with a spicier sex life, but also with a revamped love life. You will be ready to experience new levels of intimacy and passion that you never could have even dreamed of before.</p>

      <p class="quote-variation">So get ready for the start of your new love life! I’ll be cheering you on every step of the way. Here’s to amazing sex and love! You deserve it.</p>
      <div class="slideshow-slide-text">
              <p>Dr Laura Berman</p>
      </div>

            <form action="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=20c4b1a4c0" method="post" target="_blank" novalidate>
          <button type="submit" class="slideshow-slide-link" style="border: none;cursor: pointer;font-size: 18px;">
            <p><span class="slideshow-slide-link-text">CLICK HERE FOR FREE PROGRAM</span></p>
           </button>
          </form>   

      <section class="quote">
      <span class="quotation"></span>
          <p>So I say, if you are burning, burn. If you can stand it, the shame will burn away and leave you shining, radiant, and righteously shameless.</p>
          <span>Elizabeth Cunningham </span>
      </section>

      <a class="slideshow-slide-link" href=""><span class="slideshow-slide-link-text">A NOTE ON SHAME</span></a>

      <div>

            <h3>Just a little note before you get started, my beloved friend</h3>

            <p>Many of the exercises I will ask you to do (especially the sexual homework) are going to require you to get comfortable being uncomfortable…To feel embarrassment, nervousness and maybe even foolishness at times. This might even be true for the exercises you are doing on your own when no one’s watching except yourself. Because, after all, you are probably your harshest critic.<br /><br />
    

           That embarrassment is not something I want you to run from. Not at all. Go ahead and feel that awkwardness. Is there shame there too? Well, go ahead and feel it. Feel ALL of it. I encourage you to even make a name for that embarrassment and those feelings of anxiety. Picture them as a person standing before you. What do they look like? What do they sound like? What’s their history? What are they afraid of? And…most importantly: what are they here to teach you?<br /><br />

           That answer might not come to you for a long time. That’s okay. But stick with that embarrassment. Don’t run from it or deny it or try to cloak it with a few glasses of your wine. Your fear is there for a reason. It wants to bring your attention to something. To something very important. And you’re only going to get to that wisdom and bounty if you’re willing to say:
      “Shame, I see you. Embarrassment, I see you. I see your shaking hands and your blushing face, the way you want to hide your body, even from yourself. I bear witness to that pain, to the bravery and strength it takes for you to be here right now. I promise to stand here with you through this. I won’t try to numb you or run from you. We can be here together, trying and hurting together, because I KNOW there’s something amazing on the other side of this pain. Something worth the discomfort.”<br /><br />

           Now, I would never ask you to push past a point that feels triggering or overwhelming to you. Listen to your inner intuition and let it guide you through this journey. It’s okay to take it slow. Above all, be gentle with yourself. But, just remember, sometimes the gentlest thing you can do for yourself is to stop hiding. You weren’t made to hide in the shadows. You weren’t born for shame. So follow that quiet light and let it burn the shame away.<br /><br />
                 <span class="quote-variation">I’ll see you on the other side!</span>

      </p>

     
    </div>

</div>

</div>





