{% capture captured_page %}
<div id="inner-page">
<article>

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'ask-laura.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'ask-laura.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'ask-laura.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'ask-laura.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'ask-laura.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" " target="_blank""><span class="slideshow-slide-link-text">FEEDBACK</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Ask Laura</h2>

      <div class="slideshow-slide-text" style="color: #000000;">
              <p> She is waiting for your questions</p>
      </div>

    </div>

</article>


<section class="quote">
<span class="quotation"></span>
    <p>"Lorem Ipsum Dolor Sit Amet"</p>
    <span> Dr Berman </span>
</section>


<div class="inner-content">

    <h3 id="parenting">Parenting</h3>


      <ul class="links-list group">

        <li><a href="/blogs/news/consent-for-kids-short-new-video-is-a-must-watch-for-kids-and-parents/">
        Consent for Kids: Short New Video is a Must-Watch for Kids and Parents
        </a></li>

        <li><a href="/blogs/news/how-to-talk-to-children-about-the-mass-shooting-in-las-vegas/">
        “How To Talk To Children About The Mass Shooting In Las Vegas”
        </a></li>

        <li><a href="/blogs/news/when-you-miss-your-foreskin-the-real-deal-on-male-circumcision/">
        When You Miss Your Foreskin: The Real Deal on Male Circumcision
        </a></li>

        <li><a href="/blogs/news/no-it-s-not-hazing-it-s-sexual-assault/">
        “No, It’s Not ‘Hazing’: It’s Sexual Assault”
        </a></li>

        <li><a href="/blogs/news/what-to-do-when-your-kids-have-a-bad-day-at-school/">
        What to Do When Your Kids Have a Bad Day at School
        </a></li>

        <li><a href="/blogs/news/the-6-biggest-mistakes-parents-make-when-giving-the-talk-to-their-teens/">
        “The 6 Biggest Mistakes Parents Make When Giving ‘The Talk’ to their Teens”
        </a></li>

        <li><a href="/blogs/news/from-type-a-to-type-ommm-why-i-stopped-fretting-over-my-kids-grades/">
        From Type A to Type ‘Ommm’: Why I Stopped Fretting Over My Kids’ Grades
        </a></li>

        <li><a href="/blogs/news/what-i-have-learned-from-raising-3-boys-with-add-and-the-truth-behind-the-add-epidemic/">
        What I Have Learned from Raising 3 Boys with ADD…And The Truth Behind the “ADD Epidemic”
        </a></li>

        <li><a href="/blogs/news/make-your-holiday-magical-with-this-simple-mindfulness-trick/">
        Make Your Holiday Magical With This Simple Mindfulness Trick
        </a></li>

        <li><a href="/blogs/news/the-sound-of-silence-how-we-all-contribute-to-rape-culture-and-how-to-fix-it/">
        The Sound of Silence: How We all Contribute to Rape Culture—and How to Fix it
        </a></li>

        <li><a href="/blogs/news/raising-sensitive-kids-what-your-kid-s-tantrums-have-to-teach-you/">
        Raising Sensitive Kids: What Your Kid’s Tantrums Have to Teach You
        </a></li>

        <li><a href="/blogs/news/teaching-your-kids-to-accept-their-flaws-and-blow-off-their-bullies/">
        Teaching Your Kids to Accept their ‘Flaws’ and Blow off their Bullies
        </a></li>

        <li><a href="/blogs/news/how-to-talk-to-your-college-students-about-drinking-sexual-assault">
        How to Talk to Your College Students about Drinking & Sexual Assault
        </a></li>

        <li><a href="/blogs/news/stress-contagion/">
        Stress Contagion
        </a></li>

          
      </ul>  

<article class="page">
    <p class="more"><a class="/pages/ask-laura" href="/pages/ask-laura">&laquo; ASK LAURA</a></p>
</article>


</div>



</div>



{% endcapture %}
{% include 'password-protect' %}