<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '561222077764494');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=561222077764494&ev=PageView&noscript=1"
  /></noscript>
<!-- End Facebook Pixel Code --> 


{% capture captured_page %}
<article class="page" id="language-of-love">

  <div class="rte">
    <div id="banner-wrapper">
          <img src="{{ 'podcast-banner.jpg' | asset_url }}" alt="The language of love, by Dr Berman" style="width: 100%;" />

          <div class="mobile-logos-podcast" class="group mb20">
            <a href="https://open.spotify.com/episode/7ndqRZHUEL15nOoDtTGt1u" class="hvr-float-shadow cta spotify-mobile"><img src="{{'spotify-mobile.gif' | asset_url}}" alt="Listen on Spotify" /></a>
            <a href="https://podcasts.apple.com/us/podcast/valentines-day-blues/id1552549384?i=1000508530551" class="hvr-float-shadow cta"><img src="{{'apple-mobile.gif' | asset_url}}" alt="Listen on Apple" /></a>
          </div>

          <a href="/pages/where-to-listen" class="btn-brand mobile center mb20">Where to listen?</a>
        
          <ul id="buttons-list" class="group">
                  <li><a href="https://open.spotify.com/episode/7ndqRZHUEL15nOoDtTGt1u" class="hvr-float-shadow cta"><img src="{{'spotify.png' | | asset_url}}" alt="Listen on Spotify" /></a></li>
                  <li><a href="https://podcasts.apple.com/us/podcast/valentines-day-blues/id1552549384?i=1000508530551" class="hvr-float-shadow cta"><img src="{{'apple.png' | | asset_url}}" alt="Listen on Apple" /></a></li>
                  <li><a href="/pages/where-to-listen" class="btn-rounded hvr-float-shadow cta">Where to listen?</a></li>
          </ul>


    </div>
    
    <section id="ask-a-question">
        <h4>Ask Dr Berman a question and she’ll answer on the show! </h4>
        <a class="btn-inverted" href="https://www.speakpipe.com/languageoflove">RECORD YOUR MESSAGE</a>
        <a class="btn-inverted" href="/pages/contact">ASK AN EMAIL QUESTION</a>
    </section>

            <div id="subscribe-podcast">
                <span id="icon-heart"></span>
                <h5>Be one of the first 100 subscribers and receive a FREE Dr. Laura Berman intimacy device</h5>

                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                  <form action="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=282ed8d73e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  
                  <div id="mc_embed_signup_scroll">         
                  <div class="mc-field-group">
                  <!-- <label for="mce-EMAIL">Email Address </label> -->
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter Your Email">
                  </div>
                  <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c3d4c8a1a97bc534fc4c45912_282ed8d73e" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>
                  </form>
                  </div>
                  
                  <!--End mc_embed_signup-->

                </div>

    <div class="site-main">


                <section id="carousel">
                  
                    <h4>As seen on</h4>
                    
                        <div id="main-carousel">
            
                    
                          <div class="brand-carousel section-padding owl-carousel">
                                  <div class="single-logo">
                                    <img src="{{'logos-oprah.gif' | asset_url}}" alt="Oprah" width="110" height="67" />
                                  </div>
                                  <div class="single-logo">
                                    <img src="{{'logos-dr-oz.gif' | asset_url}}" alt="Dr Oz" width="110" height="67" />

                                  </div>
                                  <div class="single-logo">
                                      <img src="{{'logos-today.gif' | asset_url}}" alt="Today Show" width="110" height="67" />
                                  </div>
                                  <div class="single-logo">
                                      <img src="{{'logos-the-talk.gif' | asset_url}}" alt="The Talk" width="110" height="67" />
                                  </div>
                                  <div class="single-logo">
                                      <img src="{{'logos-chicago-tribune.gif' | asset_url}}" alt="Chicago Tribune" width="110" height="67" />
                                  </div>
                                  <div class="single-logo">
                                      <img src="{{'logos-fox-news.gif' | asset_url}}" alt="Fox News" width="110" height="67" />
                                  </div>

                                  <div class="single-logo">
                                      <img src="{{'logos-access-hollywood.gif' | asset_url}}" alt="Access Hollywood" width="110" height="67" />
                                  </div>
                                  <div class="single-logo">
                                      <img src="{{'logos-marie-claire.gif' | asset_url}}" alt="Marie Claire" width="110" height="67" />
                                  </div>
                          </div>

                        </div>

                </section>

                <script>
                  $('.brand-carousel').owlCarousel({
                loop:true,
                margin:10,
                autoplay:true,
                responsive:{
                  0:{
                    items:1
                  },
                  600:{
                    items:3
                  },
                  1000:{
                    items:5
                  }
                }
              }) 
              
              </script>

                <h3>Latest episode</h3>

                <div id="latest-episode" class="group">

                        <img src="{{'episode.jpg' | asset_url}}" alt="Latest episode" />
                        
                        <div class="episode-content">
                                <h4>Ep 1 - Valentine's Day Blues</h4>

                                <p>In today’s episode, Dr. Berman helps a husband who says his sex life has totally tanked due to the pandemic—between kids and online school and constant togetherness, he says intimacy has fallen by the wayside and his wife feels more like his roommate than his sexual partner. But, first: Dr. Berman gets a voicemail from a woman who is scared that her adult daughter is being pressured into sex by her online boyfriend before she is ready...</p>
                                <a href="#" class="btn-brand play-now"><i class="fa fa-play pr5"></i> Play Now</a>


                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="#999">
                                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                                  <a class="a2a_button_facebook"></a>
                                  <a class="a2a_button_twitter"></a>
                                  <a class="a2a_button_email"></a>
                                  </div>
                                  <script async src="https://static.addtoany.com/menu/page.js"></script>
                                  <script>a2a_config.icon_color = "#0166ff";</script>
                                </div>
                </div>
                
                <div id="buzzsprout-player-7782385" style="display:none" class="mt20"></div>
                <script src="https://www.buzzsprout.com/1672924/7782385-valentine-s-day-blues.js?container_id=buzzsprout-player-7782385&amp;player=small" type="text/javascript" charset="utf-8"></script>
                
            <!-- 
                <div class="section group">

                  <div class="col span_1_of_3">
                    <img src="{{'episode.jpg' | asset_url}}" alt="Latest episode" />

                  </div>

                  <div class="col span_1_of_3">
                    <img src="{{'episode.jpg' | asset_url}}" alt="Latest episode" />

                  </div>

                  <div class="col span_1_of_3">
                    <img src="{{'episode.jpg' | asset_url}}" alt="Latest episode" />

                  </div>

              </div> -->


                <div id="video" class="section group">
                  <div class="col span_1_of_2">
                    <iframe width="560" class="mt15" style="border: #f7f7f7 5px solid;"  height="315" src="https://www.youtube.com/embed/HPKVfIo9Xoc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                  </div>

                  <div class="col span_1_of_2">
                        <div class="podcast-logos">
                              <p class="mb10"><a href="https://open.spotify.com/episode/7ndqRZHUEL15nOoDtTGt1u" class="hvr-float-shadow cta"><img src="{{'spotify.png' | asset_url}}" alt="Listen on Spotify" /></a></p>
                              <p class="mb10"><a href="https://podcasts.apple.com/us/podcast/valentines-day-blues/id1552549384?i=1000508530551" class="hvr-float-shadow cta"><img src="{{'apple.png' | asset_url}}" alt="Listen on Apple" /></a></p>
                              <p><a href="/pages/where-to-listen" class="btn-brand hvr-float-shadow cta">Where to listen?</a></p>
                        </div>
                  </div>

                </div>
                <div class="mobile-logos-podcast" class="group">
                    <a href="https://open.spotify.com/episode/7ndqRZHUEL15nOoDtTGt1u" class="hvr-float-shadow cta spotify-mobile"><img src="{{'spotify-mobile.gif' | asset_url}}" alt="Listen on Spotify" /></a>
                  <a href="https://podcasts.apple.com/us/podcast/valentines-day-blues/id1552549384?i=1000508530551" class="hvr-float-shadow cta"><img src="{{'apple-mobile.gif' | asset_url}}" alt="Listen on Apple" /></a>
                </div>
                <a href="/pages/where-to-listen" class="btn-brand mobile mb20 center">Where to listen?</a>

    </div>
   

  </div>
</article>

{% endcapture %}
{% include 'password-protect' %}