<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'services.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'services.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'services.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'services.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'services.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" style="color: #000000;"><span class="slideshow-slide-link-text">Services</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Learn more about</h2>
      
      <div class="slideshow-slide-text" style="color: #000000;">
              <ul>
                  <li><a href="#thebetterloveprogram">The Better Love Program ></a></li>
                  <li><a href="#services">Services Offered ></a></li>
                  <li><a href="#common-issues">Common Issues ></a></li>
                  <li><a href="#workshops">Workshops ></a></li>
                  <li><a href="#sex">Sex and Love Coach Training ></a></li>
                  <li><a href="/pages/speaking">Speaking ></a></li>
              </ul>
      </div>

    <div id="linked-area">
      <h2><a href="/pages/contact">Work With Laura</a> &raquo;</h2>
    </div>  

    </div>

</article>


<section class="inner-quote">
    <span class="quotation"></span> 
    <p>Helping you reach your full potential in love, sex and relationships.</p>
</section>

</div>

 </div>

</article>


<div class="inner-content">


{{ page.content }}
  <!--

<h2 id="the better love program">The Better Love Program By Dr. Laura Berman</h2>

  				<button class="accordion">The Better Love Program</button>
                <div class="panel">
                  <p>The Better Love Program consists of four full-immersion events over the course of one year, along with ongoing content, meditations, and a private membership site. Full immersion events will take place each quarter. During each of these, you will spend two 6 hour days with Dr. Berman, working one on one with her and her team of experts in Los Angeles. The Better Love Program is limited to 10 individuals or couples a year, single or in a relationship. The Better Love Program is a high-level, premium priced program due to the depth and personalized attention you receive. If you’d like learn more about the program, please CONTACT US and we will reach out to you!.</p>
                </div>


<h2 id="services">Services Offered By Dr. Laura Berman</h2>

                <button class="accordion">Sexual Health Assessment</button>
                <div class="panel">
                  <p>You will receive a comprehensive assessment, both individually and as a couple (if you come in with your partner). The results are used to reach a diagnosis and develop an ongoing treatment plan that may include different components of sex therapy, couples’ therapy, medical evaluation and treatment, and/or physical therapy. Dr. Berman will help determine if there may be medical factors at play and make appropriate referrals to our large network of medical clinicians who are well-versed in sexual health issues.</p>
                </div>

                <button class="accordion">Relationship Health Assessment</button>
                <div class="panel">
                  <p>You and your partner will receive a comprehensive assessment that will cover your relationship as a whole as well as your individual pasts. From conflict style to trust issues to childhood history, Dr. Berman will take a broad yet detailed look at your relationship as a whole as well as what issues need to be tackled moving forward.</p>
                </div>

                <button class="accordion">Individual Therapy</button>
                <div class="panel">
                  <p>One-on-one therapy with Dr. Berman. Any number of issues can be covered ranging from past history of sexual abuse to illness to hormonal concerns to family conflict. You can also do work on issues such as anxiety, depression, and more.</p>
                </div>


                <button class="accordion">Couples’ Therapy </button>
                <div class="panel">
                  <p>If you and your partner are struggling to connect emotionally or sexually, couples’ therapy can be ideal in helping you to find ways to resolve conflict and reestablish your passion once again.</p>
                </div>

                <button class="accordion">3-5 Day Intensive Retreats </button>
                <div class="panel">
                  <p> Intensives are therapy retreats that can last for 3-5 days. With this program, you can truly immerse in the changing power of therapy in just a matter of days. Ideal for people who don’t live in the area or for couples who are in a state of conflict and distress.</p>
                </div>

                <button class="accordion">Virtual Therapy  </button>
                <div class="panel">
                  <p>If you live in the State of Illinois, Dr. Berman can have virtual therapy sessions with you via phone or internet. While the first meeting is always in-person, subsequent sessions can be virtual. Ideal for those who want to work with Dr. Berman but do not live in the area and don’t wish to travel. </p>
                </div>

                <button class="accordion">Marital Preparation </button>
                <div class="panel">
                  <p>Also known as premarital counseling, marital preparation can help you to troubleshoot any issues with your future spouse before you walk down the aisle, ensuring that you start out your life together clear and on the same page about the important issues in your relationship. </p>
                </div>

                <button class="accordion">Parent Coaching </button>
                <div class="panel">
                  <p>No one said being a parent was easy! Whether you want to learn how to have “the talk” for the first time, or whether your child is dealing with issues surrounding gender and sexual orientation, Dr. Berman can help teach you how to raise sexually healthy kids. </p>
                </div>

                <button class="accordion">Private Events</button>
                <div class="panel">
                  <p>Whether it is for your friends, your organization, or a special occasion, you can book a private event with Dr. Laura Berman. The event can be customized to your needs and can include any of the workshop topics.</p>
                </div>


      <h2 id="common-issues">Common Issues Dr. Laura Berman Treats:</h2>

                <button class="accordion">Relationship Stalemate</button>
                <div class="panel">
                  <p>Do you feel like you have hit a roadblock in your relationship? Are you and your partner “stuck” in relationship limbo, constantly rehashing old issues and having the same fight again and again? Dr. Berman can help you to get un-stuck and teach you tools to you need to resolve conflicts, get on common ground, and find more passion and connection in your relationship. For more information on ending your relationship stalemate and making love feel new again, visit: Learn to Make Love Feel New Again.</p>
                </div>

                <button class="accordion">More like Roommates than Lovers</button>
                <div class="panel">
                  <p>Are you and your partner more like roommates than lovers? Is your relationship being threatened by a lack of passion and sexual connection? Dr. Berman can help you to get to the bottom of what’s in the way of your sex life, and reignite the spark in your relationship to reclaim your passion once again (or perhaps for the first time). See Dr. Berman’s Blog for more: Keep Things Fun by Flirting.</p>
                </div>

                <button class="accordion">Effects of Infertility on Romance and Intimacy</button>
                <div class="panel">
                  <p>Are you and your partner struggling to conceive? Have you experienced infertility issues in the past?  Has sex become more like a chore and less like an act of love and passion? Luckily, with Dr. Berman, you can repair your intimacy, or safeguard your sex life while striving towards your journey to conception. See Dr. Berman’s Blog for more: Keeping the Spark Alive While Battling Infertility.</p>
                </div>


                <button class="accordion">Repairing After the Affair</button>
                <div class="panel">
                  <p>Is it possible to repair your marriage after a betrayal such as infidelity? The good news is that you can.  In fact, ironically it is possible to have a relationship that is 100 times greater than the one you had before the affair, but it requires plenty of work and support. You have to confront the issues head-on, as well as examine what led to the affair in the first place. With therapy, you can have a safe and objective place to work out these serious issues and save your marriage. See Dr. Berman’s blog for more: Repair After the Affair: Rebuild After Infidelity.</p>
                </div>

                <button class="accordion">Issues with Conflict</button>
                <div class="panel">
                  <p>Do you and your partner fight like cats and dogs? Is name-calling, sarcasm, door-slamming, pouting and the silent treatment a common part of your fights? Arguing is a natural part of any relationship, but if you don’t argue in the right way, you could be doing severe damage to your marriage. With Dr. Berman, you can learn how to ‘Fight to love, not to win’ and you can remove demeaning and dangerous conflict styles from your home.  For more, see Dr. Berman’s blog: Arguing With Your Spouse? Fight to Love, Not to Win.</p>
                </div>

                <button class="accordion">Getting over Inhibitions and Fears in the Bedroom and Beyond</button>
                <div class="panel">
                  <p>Is fear and anxiety keeping you back from going after your dreams? Are you too afraid to find love, start a new career, or face your demons? Fear can keep us from living the full, passionate lives we desire. Fear can even keep you from opening up to your partner and enjoying your sex life without inhibitions and anxiety. Dr. Berman can help you get to the root these fears and claim the life you most desire. </p>
                </div>

                <button class="accordion">Difficulty Finding or Keeping Love</button>
                <div class="panel">
                  <p>Do you feel like you keep getting caught in the same bad relationship over and over again? Or you just can’t seem to find lasting love?  Maybe you always go for bad boys (or girls) or emotionally unavailable partners.  Dr. Berman will help you get to the root of what is holding you back from finding and keeping the love you want. For more information about finding love, see Dr. Berman’s blog: Why Don’t I Like Nice Guys.</p>
                </div>

                <button class="accordion">Establishing a Healthy Love and Sexual Life after Abuse</button>
                <div class="panel">
                  <p>Have you ever been a victim of sexual abuse? Whether you are a man or a woman, a history of sexual abuse can rob you of feelings of safety, passion, trust, and connection. Dr. Berman can help you heal and embrace love and sexual pleasure again, or perhaps for the first time, but on your terms. For more, see Dr. Berman’s blog: How To Help Yourself Move Forward From Abuse.</p>
                </div>

                <button class="accordion">Trust and Intimacy</button>
                <div class="panel">
                  <p>Do you struggle to trust your partner ? Are you unable to open your heart to love and intimacy because you have been hurt so many times in the past? Dr. Berman can help you to discover where your trust issues come from, as well as how to move forward with a more open heart.</p>
                </div>

                <button class="accordion">Low Desire</button>
                <div class="panel">
                  <p>Do you find that you are rarely in the mood for sex? Is your low libido harming your marriage? Men and women can both suffer from low desire. It might be a long-term issue or something that has only recently sprung up. The reasons could be many (medical, emotional, mental, etc.). Dr. Berman can help you get to the root of the problem and put you on the path to reclaiming your desire. For more, see Dr. Berman’s blog: Low Libido Can Also Affect Men</p>
                </div>

                <button class="accordion">Early Ejaculation</button>
                <div class="panel">
                  <p>Do you wish that you could have more control and longevity in the bedroom? Are you embarrassed that you can’t last as long as you desire? Many men wish they could last longer in bed, and others are embarrassed when they always seem to reach orgasm sooner than they desire. The reasons for early ejaculation can steam back as far as your childhood.  Dr Berman can teach you how gain control over your sexual response.  For more, see Dr. Berman’s blog: Techniques for treating premature ejaculation.</p>
                </div>                
                
                <button class="accordion">Difficulty Reaching Orgasm</button>
                <div class="panel">
                  <p>Do you struggle with your sexual response?  Whether it’s that you have never reached orgasm, or you reach it too quickly, it happens infrequently or they’ve become less intense, not being able to attain sexual gratification can be very frustrating and embarrassing. Dr. Berman can help you get to the bottom of what’s standing in the way of your sexual response from a mind, body and relationship perspective and help you have the sex life you want and deserve.   many things you can do to help improve your sexual response. For more, see Dr. Berman’s blog: Reaching Orgasm Through Intercourse.</p>
                </div>

                <button class="accordion">Painful Sex</button>
                <div class="panel">
                  <p>Do you ever avoid sex because it is painful and uncomfortable? Does the very thought of sex make you cringe in discomfort? Painful sex is not an uncommon issue. Sometimes the issue can be physical, but other times the reason lies much deeper. Dr. Berman can help you to pinpoint the possible causes for your painful sex as well as ways to treat it and ways to enjoy sex once again. For more, see Dr. Berman’s blog: What to Do When Sex Hurts.</p>
                </div>                
                
                <button class="accordion">Confusions or Questions around Gender and Sexual Orientation</button>
                <div class="panel">
                  <p>Are you questioning your sexuality or gender? Are you wondering if you might be gay or bisexual? Is your child wondering and you don’t know how to handle it? Sexuality is rarely as simple as society makes it out to be. Sometimes people struggle with their gender identity or sexual orientation, whether it’s a new issue that has cropped up or something they have always wondered about. Dr. Berman provides a safe place to discover the answers to some of the questions that have kept you up at night. For more, see Dr. Berman’s blog: How Do I Know if I Am Gay?</p>
                </div>

                <button class="accordion">Keeping your Connection Strong during Pregnancy and Beyond</button>
                <div class="panel">
                  <p>If you are expecting, you might find that your sex life has taken a toll. From the moment you get pregnant, kids can throw a wrench in your sex life. You might find that you feel undesirable during pregnancy, or that you no longer feel sexual with your partner. Once these issues take hold, they can be very difficult to come back from, especially when the baby finally arrives and you have an infant to care for. Dr. Berman can help guide you through the process of  maintaining or rehabilitating your sexual connection and passion throughout your pregnancy and beyond. For more, see Dr. Berman’s blog: When Mom Is Pregnant, Dad Feels It Too.</p>
                </div>                
                
                <button class="accordion">Raising Sexually Healthy Kids</button>
                <div class="panel">
                  <p>Are you a parent struggling to raise kids who are smart, healthy and responsible? In today’s world of sexting, twerking, and tweeting, raising kids with positive sexual messages can be very difficult. How can you teach your kids to be smart, safe, respectful, and careful when it comes to their sexual choices? Thankfully, there are many things you can do to help teach your kids to make responsible choices and postpone sexual activity until they are mature enough to handle it.</p>
                </div>

                <button class="accordion">Effects of Cancer and other Illnesses on Emotional and Sexual Intimacy</button>
                <div class="panel">
                  <p>Are you suffering from a chronic illness or reeling from a recent diagnosis such as cancer? Illness can do a number on your relationship and your sex life, particularly if you or your partner are dealing with a chronic illness. Dr. Berman can guide and assist you on your journey of healing and hope during this difficult time. For more, see Dr. Berman’s blog: Going bald is a family affair for Dr. Laura Berman,</p>
                </div>                
                
 
      <h2 id="workshops">Workshop Topics:</h2>

                <button class="accordion">Spicing it Up</button>
                <div class="panel">
                  <p>Everything you ever wanted to know about jump starting your sex life. From sex toys to oral sex to pornography to masturbation, no topic is off-limits!<br />
                  <a href="https://www.everydayhealth.com/sexual-health/6-easy-ways-spice-up-your-married-sex-life/">READ MORE</a></p>
                </div>

                <button class="accordion">Unleashing your Inner Vixen</button>
                <div class="panel">
                  <p>If you feel like you are stuck in a rut and you can’t access your sexual power (or you wonder if it even exists), this workshop is for you!<br />
                  <a href="https://www.everydayhealth.com/sexual-health/">READ MORE</a></p>
                </div>

                <button class="accordion">Girl Power</button>
                <div class="panel">
                  <p>This is a wonderful workshop for the amazing women in your life. It’s ideal for moms and daughters, best friends, sisters, roommates, etc.<br />
                  <a href="http://www.drlauraberman.com/relationships/confidence-and-beauty/claim-sexual-confidence">READ MORE</a></p>           
                </div>

                <button class="accordion">Raising Sexually Healthy Kids</button>
                <div class="panel">
                  <p>Learn how to do more than just have “the talk.” Learn how to truly raise your kids to be sexually responsible, empowered, and careful.<br />
                  <a href="http://www.drlauraberman.com/relationships/family-life/talking-sex-with-teens">READ MORE</a></p>
              
                </div>

                <button class="accordion">Sex Talk</button>
                <div class="panel">
                  <p>Everything you were always wanted to know about sex but were afraid to ask. There is no such thing as a silly question in this workshop!<br />
                  <a href="http://drlauraberman.com/sexual-health/your-body/sexual-myths">READ MORE</a></p>
                  </p>
                </div>
                
                <button class="accordion">Ecstasy Unleashed: Jump Start Your Sex Life with Dr. Laura Berman & Anela Lineham</button>
                <div class="panel">
                  <p>Human Garage proudly presents our first weekend seminar in beautiful Venice Beach, California May 3-5th, 2019.<br />
                  <a href="https://www.humangarage.net/product/love/">READ MORE</a></p>
                  </p>
                </div>

-->

        <h2 id="sex">Sex and Love Coach Training</h2>

        <p>If you are interested in Dr Laura Berman “Sex and Love Coach Training”, please contact us.</p>
  
  		<div class="page-contact">
    {% form 'contact' %}
      {% if form.posted_successfully? %}
        <p class="success-message">
          {{ 'contact.form.success' | t  }}
        </p>
      {% else %}

        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}

        <div class="input-wrapper">
          <label for="contact-name">{{ 'contact.form.name' | t }}</label>
          <input
            id="contact-name"
            type="text"
            value="{{ form.name }}"
            name="contact[name]"
            class="input-field {% if form.errors contains 'name' %}error{% endif %}" required>
        </div>

        <div class="input-wrapper">
          <label for="contact-email">{{ 'contact.form.email' | t }}</label>
          <input
            id="contact-email"
            type="text"
            value="{{ form.email }}"
            name="contact[email]"
            class="input-field {% if form.errors contains 'email' %}error{% endif %}" required>
        </div>
          
        <div class="input-wrapper">
          <label for="contact-email">Company</label>
          <input
            id="contact-company"
            type="text"
            value="{{ form.company }}"
            name="contact[company]"
            class="input-field {% if form.errors contains 'company' %}error{% endif %}">
        </div>

        <div class="input-wrapper">
          <label for="contact-phone">{{ 'contact.form.phone' | t }}</label>
          <input
            id="contact-phone"
            type="tel"
            value="{{ form.phone }}"
            name="contact[phone]"
            class="input-field {% if form.errors contains 'phone' %}error{% endif %}">
        </div>

        <div class="input-wrapper">
          <label for="contact-message">{{ 'contact.form.message' | t }}</label>
          <textarea
            id="contact-message"
            name="contact[comments]"
            class="input-field {% if form.errors contains 'comments' %}error{% endif %}" required
          >{{ form.comments }}</textarea>
        </div>

        <input class="contact-form-submit" type="submit" value="{{ 'contact.form.submit' | t }}">
      {% endif %}
    {% endform %}


  </div>
            

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
</div>

