<article class="page">

    <div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">

    <div class="slideshow slideshow-slides-1" data-slideshow="">


    <article class="slideshow-slide slideshow-slide-layout-default-left" data-slideshow-slide="" data-slideshow-slide-layout="default-left">
      <figure class="slideshow-slide-image" data-slideshow-slide-image="" data-slideshow-layout="default-left">
      
        <noscript data-rimg-noscript="">
          <img src="{{ 'laura-and-oprah.jpg' | asset_url }}" alt="" data-rimg="noscript" srcset="{{ 'laura-and-oprah.jpg' | asset_url }}">
        </noscript>

        <img src="{{ 'laura-and-oprah.jpg' | asset_url }}" alt="" data-rimg="loaded" data-rimg-scale="1" data-rimg-template="{{ 'laura-and-oprah.jpg' | asset_url }}" data-rimg-max="810x673" data-rimg-crop="center" srcset="{{ 'laura-and-oprah.jpg' | asset_url }}" data-rimg-template-svg="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='810'%20height='673'></svg>">

    </figure>


    <div class="slideshow-slide-info">

      <a class="slideshow-slide-link" href="" style="color: #000000;"><span class="slideshow-slide-link-text">MEDIA</span></a>
      <h2 class="slideshow-slide-title" style="color: #000000;">Dr Berman <br />In The Media</h2>

      <div class="slideshow-slide-text" style="color: #000000;">
              <p>Please contact:  Sam Chapman
              <a href="mailto:samuelpchapman49@gmail.com">samuelpchapman49@gmail.com</a><br />
              312.961.9492</p>
      </div>  

    </div>

</article>


<section class="inner-quote">

            <div class="logos">
                  <a href="#today"><img src="{{ 'dra_laura_berman_media_logos_today.png' | asset_url }}" alt="Today Show" /></a>
                  <a href="#the-talk"><img src="{{ 'dra_laura_berman_media_logos_thetalk.png' | asset_url }}" alt="The Talk" /></a>
                  <a href="#access"><img src="{{ 'dra_laura_berman_media_logos_accesshollywood.png' | asset_url }}" alt="Access Show" /></a>
                  <a href="#oprah"><img src="{{ 'dra_laura_berman_media_logos_ophra.png' | asset_url }}" alt="Oprah Show" /></a>
                  <a href="#chicago"><img src="{{ 'dra_laura_berman_media_logos_chicagosuntimes.png' | asset_url }}" alt="Chicago Sun Times" /></a>
                  <a href="#tribune"><img src="{{ 'dra_laura_berman_media_logos_chicagotribune.png' | asset_url }}" alt="Chicago Tribune" /></a>
                  <a href="#droz"><img src="{{ 'dra_laura_berman_media_logos_droz.png' | asset_url }}" alt="Dr Oz" /></a>
                  <a href="#fox"><img src="{{ 'dra_laura_berman_media_logos_foxnews.png' | asset_url }}" alt="Fox News" /></a>
                  <a href="#glamour"><img src="{{ 'dra_laura_berman_media_logos_glamour.png' | asset_url }}" alt="Glamour" /></a>
                  <a href="#huffpost"><img src="{{ 'dra_laura_berman_media_logos_huffingtonpost.png' | asset_url }}" alt="Huffington Post" /></a>
                  <a href="#latimes"><img src="{{ 'dra_laura_berman_media_logos_latimes.png' | asset_url }}" alt="LA Times" /></a>
                  <a href="#marieclaire"><img src="{{ 'dra_laura_berman_media_logos_marieclaire.png' | asset_url }}" alt="Marie Claire" /></a>
                  <a href="#ch5"><img src="{{ 'dra_laura_berman_media_logos_nbc5chicago.png' | asset_url }}" alt="Chicago 5" /></a>
                  <a href="#other"><img src="{{ 'dra_laura_berman_media_logos_othermedia.png' | asset_url }}" alt="Other Media" /></a>
                  <a href="#parenting"><img src="{{ 'dra_laura_berman_media_logos_parenting.png' | asset_url }}" alt="Parenting" /></a>
                  <a href="#redbook"><img src="{{ 'dra_laura_berman_media_logos_redbook.png' | asset_url }}" alt="Redbook" /></a>
                  <a href="#shape"><img src="{{ 'dra_laura_berman_media_logos_shape.png' | asset_url }}" alt="Shape" /></a>
                  <a href="#steveharvey"><img src="{{ 'dra_laura_berman_media_logos_steveharvey.png' | asset_url }}" alt="Steve Harvey" /></a>
                  <a href="#wciu"><img src="{{ 'dra_laura_berman_media_logos_usnews.png' | asset_url }}" alt="WC The U" /></a>
                  <a href="#wgn"><img src="{{ 'dra_laura_berman_media_logos_wciu.png' | asset_url }}" alt="WGN" /></a>
                  <a href="#wind"><img src="{{ 'dra_laura_berman_media_logos_wgn.png' | asset_url }}" alt="Wind City Live" /></a>
            </div>

</section>

</div>

 </div>
</article>



<div class="inner-content">
{{ page.content }}

<!--      <h2 id="oprah">From Oprah.com</h2>

      <ul class="links-list group">
            <li><a href="http://www.oprah.com/relationships/How-to-have-Better-Sex-Understanding-Female-Sexual-Anatomy">Female Anatomy 101 </a></li>
            <li><a href="http://www.oprah.com/relationships/Sex-Toys">Sex Toys</a></li>
            <li><a href="http://www.oprah.com/relationships/Foreplay-Map">Foreplay map</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/Orgasm-411-OWN">Orgasm 411</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/How-Sexually-Inhibited-Are-You-Quiz">How sexually inhibited are you? Take Dr Berman’s Quiz to find out!</a></li>
            <li><a href="http://www.oprah.com/relationships/Your-Best-Sex-Life-with-Dr-Laura-Berman-Webcast-Transcript">Your best sex life – Webcast transcript</a></li>
            <li><a href="http://www.oprah.com/own-dr-laura-berman-show/the-dr-laura-berman-show.html">The Dr Laura Berman Show – watch her host her radio show for television</a></li>
            <li><a href="http://www.oprah.com/oprahradio/Oprah-Radio-Host-Dr-Laura-Bermans-Past-Shows-2011">Browse Dr Berman’s Past Radio Show Clips 2011</a></li>
            <li><a href="http://www.oprah.com/oprahradio/Oprah-Radio-Host-Dr-Laura-Bermans-Past-Shows-2010">Browse Dr Berman’s Past Radio Show Clips 2010</a></li>
            <li><a href="http://www.oprah.com/oprahradio/Oprah-Radio-Host-Dr-Laura-Bermans-Past-Shows">Browse Dr Berman’s Past Radio Show Clips 2009</a></li>
            <li><a href="http://myown.oprah.com/search/index.html?q=%22Dr.%20Laura%20Berman%27s%20Sex%20Advice%22">Dr Laura Berman’s Sex Advice</a></li>
            <li><a href="http://myown.oprah.com/search/index.html?q=%22laura%20berman%20homework%22">Dr Laura Berman’s&nbsp; Sex and Relationship Homework</a></li>
            <li><a href="http://www.oprah.com/package/relationships/sex/pkgsex/20090109_sas_yoursexlife" target="_blank">Your Sex Life with Dr. Laura Berman</a>&nbsp;– Live Your Best Sex Life</li>
            <li><a href="http://www.oprah.com/article/oprahandfriends/20090109_oaf_bestlife_sexlife" target="_blank">Best Life Week: Your Sex Life</a>&nbsp;– Talking to Your Partner About Sex</li>
            <li><a href="http://www.oprah.com/slideshow/relationships/sex/pkgsex/20081002_tows_sex" target="_blank">Secrets of Sex Therapy – How to Improve Your Sex Life</a>&nbsp;– The Sex Files</li>
            <li><a href="http://www.oprah.com/showinfo/Sex-Therapy-with-Dr-Laura-Berman" target="_blank">In the Bedroom: Sex Therapy with Dr. Laura Berman</a></li>
            <li><a href="http://www.oprah.com/showinfo/The-Most-Dangerous-Child-Sex-Offenders-in-America" target="_blank">The Most Dangerous Child Sex Offenders in America</a></li>
            <li><a href="http://www.oprah.com/dated/oprahshow/oprahshow_20081002_sextherapy" target="_blank">The Oprah Winfrey Show – 11.03.08</a>&nbsp;– Behind Close Doors: Sex Therapy</li>
            <li><a href="http://www.oprah.com/relationships/How-to-Improve-Your-Sex-Life">Are you living your best sex life?</a></li>
            <li><a href="http://www.oprah.com/oprahshow/Long-Term-Effects-of-Sexual-Abuse">Long term effects of sexual abuse</a></li>
            <li><a href="http://www.oprah.com/relationships/Laura-Berman-Relationship-Advice-O-You-2012">The three things you need for a rock solid relationship</a></li>
            <li><a href="http://www.oprah.com/oprahshow/30-Year-Old-Virgins">30-Year old virgins</a></li>
            <li><a href="http://www.oprah.com/relationships/Sex-Life-Makeover-Make-Me-a-Ten-Dr-Laura-Berman-Makeover">Make me a ten! Love-life makeover with Dr Laura Berman</a></li>
            <li><a href="http://www.oprah.com/relationships/Dr-Laura-Berman-Answers-8-Really-Good-Sex-Questions">Dr Laura Berman answers eight really good sex questions</a></li>
            <li><a href="http://www.oprah.com/relationships/5-Steps-to-Better-Sex">Five steps to better sex</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/Do-You-Emasculate-Your-Man-OWN-TV">Emasculated men</a></li>
            <li><a href="http://www.oprah.com/relationships/5-Elements-of-Attractiveness-The-Science-of-Sex-Appeal">Five elements of attractiveness</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/The-Best-Way-to-Cure-a-Drift">The best way to cure a drift in your relationship</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/Falling-Back-in-Love">Are happy marriages a dream?</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/Falling-in-Love-Staying-in-Love">Falling in love, staying in love</a></li>
            <li><a href="http://www.oprah.com/own-bedroom-dr-laura-berman/Just-say-No-to-Valentines-Day_2">Just say ‘No’ to Valentine’s Day</a></li>
            <li><a href="http://www.oprah.com/relationships/Dr-Laura-Berman-Answers-Your-Sex-Questions">Dr Laura Berman answers your sex questions</a></li>
            <li><a href="http://www.oprah.com/relationships/Teenage-Sex-Dr-Laura-Berman-on-How-to-Talk-to-Teenagers-About-Sex">How to talk to teenagers about sex</a></li>
            <li><a href="http://www.oprah.com/relationships/Talking-to-Your-Son-About-Sex">Walking to your son about sex</a></li>
            <li><a href="http://www.oprah.com/oprahshow/Dr-Laura-Berman-Saves-a-Sexless-Marriage">Sparking up a sexless marriage&nbsp;</a></li>
</ul>

<h2 id="dr-oz">From the Dr. Oz Show</h2>
      <ul class="links-list group">
            <li><a href="http://www.doctoroz.com/videos/50-shades-grey-cure-your-libido-pt-1">50 Shades of Grey: The Cure for Your Libido</a></li>
            <li><a href="http://www.doctoroz.com/expert/laura-berman-phd">Dr Laura Berman Blog Posts</a></li>
            <li><a href="http://www.doctoroz.com/videos/what-you-dont-know-penis-pt-3">What You Don’t Know: The Penis</a></li>
            <li><a href="http://www.doctoroz.com/videos/orgasm-after-40-yes-you-can">Getting Your Orgasm Back After Age 40</a></li>
            <li><a href="http://www.doctoroz.com/videos/art-communicating">The Art of Communicating</a></li>
            <li><a href="http://www.doctoroz.com/videos/dr-laura-bermans-shocking-breast-cancer-diagnosis-pt-1">Dr Berman’s shocking breast cancer diagnosis</a></li>
            <li><a href="http://www.doctoroz.com/blog/laura-berman-phd/foreplay-tips">Foreplay tips</a></li>
            <li><a href="http://www.doctoroz.com/blog/laura-berman-phd/exercising-love-muscles">Exercising the love muscles</a></li>
            <li><a href="http://www.doctoroz.com/blog/laura-berman-phd/eat-consciously">Eat Consciously</a></li>
            <li><a href="http://www.doctoroz.com/blog/laura-berman-phd/fixes-every-woman-over-40">Fixes for every woman over 40</a></li>
            <li><a href="http://www.doctoroz.com/episode/provocative-doctor-revolutionize-your-health?video_id=2046176054001">Revolutionize your health!</a></li>
            <li><a href="http://www.doctoroz.com/videos/ask-dr-oz-sex-edition2-positions-low-libido">Dr Oz Sex Edition 2</a></li>
            <li><a href="http://www.doctoroz.com/episode/dr-oz-jumpstart?video_id=1847991843001">Reboot your libido</a></li>
            <li><a href="http://www.doctoroz.com/videos/teen-sex-crisis">Teen sex crisis</a></li>
            <li><a href="http://www.doctoroz.com/videos/guide-your-partner-erogenous-zones-chart">Guide your partner: Erogenous Zone Chart</a></li>
            <li><a href="http://www.doctoroz.com/videos/reduce-your-risk-breast-cancer">Reduce your risk of breast cancer</a></li>
            <li><a href="http://www.doctoroz.com/episode/5-things-men-dont-want-you-know">The secrets your man is keeping</a></li>
            <li><a href="http://www.doctoroz.com/videos/my-spouse-hasn-t-seen-me-naked-pt-1">My spouse has never seen me naked</a></li>
            <li><a href="http://www.doctoroz.com/videos/three-secrets-your-best-orgasm-pt-1">Three secrets to your best orgasm</a></li>
            <li><a href="http://www.doctoroz.com/episode/5-things-men-dont-want-you-know?video_id=1859184441001">Is male menopause real?</a></li>
            <li><a href="http://www.doctoroz.com/episode/martha-stewart-youve-never-seen-her?video_id=2404605917001">The pill that will save your sex life</a></li>
            <li><a href="http://www.doctoroz.com/episode/dr-ozs-ultimate-how-healthy-are-you-quiz?video_id=2023282071001">Three pains women should never ignore</a></li>
      </ul>


<h2 id="today">From Today Show</h2>
      <ul class="links-list group">
            <li><a style="line-height: 1.5em;" href="http://today.msnbc.msn.com/id/26184891/vp/18424824#27643632" target="_blank">Staying connected to your partner</a></li>
            <li><a href="http://www.msnbc.msn.com/id/22650190/" target="_blank">Want to get healthy? Have sex</a></li>
            <li><a style="line-height: 1.5em;" href="http://today.msnbc.msn.com/id/32985836/ns/today-today_books/" target="_blank">The birds and the bees: Talking sex with your child</a></li>
            <li><a style="line-height: 1.5em;" href="http://www.msnbc.msn.com/id/23562565/" target="_blank">Help! I found condoms under my son’s bed</a></li>
            <li><a style="line-height: 1.5em;" href="http://www.msnbc.msn.com/id/23562565/" target="_blank">This spring, get your sexy back</a></li>
            <li><a href="http://www.today.com/id/20754625/ns/today-today_health/">The lowdown on low libido</a></li>
            <li><a href="http://www.today.com/id/21564836/ns/today-today_health/">Bedroom lies, why you should come clean</a></li>
            <li><a href="http://www.today.com/id/21642952/ns/today-today_health/">Pucker up! Secrets to being a better kisser</a></li>
            <li><a href="http://www.today.com/id/21433484/ns/today-today_health/">Tips to repair after an affair</a></li>
            <li><a href="http://www.today.com/id/21757204/ns/today-today_health/">Tis the season for ex-sex? Not so fast!</a></li>
            <li><a href="http://www.today.com/id/21888608/ns/today-today_health/">Are you sure you’re not a cheater?</a></li>
            <li><a href="http://www.today.com/id/21941775/ns/today-today_health/">Survey: Do you and your partner fight fair?</a></li>
            <li><a href="http://www.today.com/id/22086183/ns/today-today_health/">Get the fireworks back! How to make good sex great</a></li>
            <li><a href="http://www.today.com/id/22343389/ns/today-today_health/">Long-distance love</a></li>
            <li><a href="http://www.today.com/id/22543664/ns/today-today_101/">Find love now! Online dating 101</a></li>
            <li><a href="http://www.today.com/id/22774355/ns/today-today_health/">Real dating disasters and how to deal with them</a></li>
            <li><a href="http://www.today.com/id/22883868/ns/today-today_health/">Five ways to keep your kids from ruining your sex life</a></li>
            <li><a href="http://www.today.com/id/22998476/ns/today-today_health/#.Uw4-oeN1z0c">Is your personality ruining your relationship?</a></li>
            <li><a href="http://www.today.com/id/23340559/ns/today-today_health/">Lust or bust? Inside the baby boomer bedroom</a></li>
            <li><a href="http://www.today.com/id/23781652/ns/today-today_health/">Scientists discover secret sex nerve</a></li>
            <li><a href="http://www.today.com/id/24839984/ns/today-today_health/">Is there sex after menopause?</a></li>
            <li><a href="http://www.today.com/id/25066101/ns/today-today_health/">Why is it so hard to forgive and forget?</a></li>
            <li><a href="http://www.today.com/id/25335116/ns/today-today_health/">Can’t quit your ex? How to say goodbye for good</a></li>
            <li><a href="http://www.today.com/id/25638515/ns/today-today_health/">No such thing as a broken heart?</a></li>
            <li><a href="http://www.today.com/id/27165211/ns/today-today_health/">Bored with monogamy? Fall in love again</a></li>
            <li><a href="http://www.today.com/id/25885154/ns/today-today_health/">Looking for Mr Right? It’s your move</a></li>
            <li><a href="http://www.today.com/id/27285538/ns/today-today_health/">Secrets to great sex after 50</a></li>
      </ul>

      <h2 id="steveharvey">From Steve Harvey</h2>

      <ul class="links-list group">
            <li><a style="line-height: 1.5em;" href="http://steveharveytv.com/i-like-him-shaven-clean-is-it-weird/" target="_blank">I like my him clean shaven… is it weird?</a></li>
            <li><a href="http://steveharveytv.com/50-shades-of-grey-contract/" target="_blank">50 shades of gray contract</a></li>
            <li><a href="http://www.steveharveytv.com/sex-by-the-decades/" target="_blank">Sex by the decades</a></li>
            <li><a href="http://steveharveytv.com/intimacy-tips/">Intimacy tips</a></li>
            <li><a href="http://steveharveytv.com/s2-dr-bermans-tips-on-sex/">Dr Berman’s tips on sex</a></li>
            <li><a href="http://steveharveytv.com/dr-laura-bermans-relationship-advice/">Dr Laura Berman’s relationship advice</a></li>
            <li><a href="http://steveharveytv.com/after-the-show-dr-laura-berman/">After the show: Dr Laura Berman</a></li>
            <li><a href="http://steveharveytv.com/menopause-tips/">Menopause tips</a></li>
            <li><a href="http://steveharveytv.com/preparing-for-menopause/">Preparing for menopause</a></li>
            <li><a href="http://steveharveytv.com/sex-by-the-decades/">Sex by the decades</a></li>
            <li><a href="http://steveharveytv.com/the-sex-diet/">The sex diet</a></li>
            <li><a href="http://steveharveytv.com/long-distance-relationships/">Long distance relationships</a></li>
            <li><a href="http://steveharveytv.com/bring-the-sexy-back-into-your-relationship/">Bring the sexy back into your relationship</a></li>
            <li><a href="http://steveharveytv.com/episodes/couples-ask-is-my-marriage-normal/">Couple’s ask: is my marriage normal?</a></li>
      </ul>

      <h2 id="the-talk">From The Talk</h2>
      <ul class="links-list group">
            <li><a href="http://www.cbs.com/shows/the_talk/topics/show/100663">Six ways to spice up your sex life</a></li>
            <li><a href="http://www.cbs.com/shows/the_talk/topics/show/100663">Dr Berman’s tools to take your relationship to the next level</a></li>
      </ul>

      <h2 id="access">From Access Show</h2>

      <ul class="links-list group">
            <li><a style="line-height: 1.5em;" href="http://steveharveytv.com/i-like-him-shaven-clean-is-it-weird/" target="_blank">I like my him clean shaven… is it weird?</a></li>
            <li><a href="http://steveharveytv.com/50-shades-of-grey-contract/" target="_blank">50 shades of gray contract</a></li>
            <li><a href="http://www.steveharveytv.com/sex-by-the-decades/" target="_blank">Sex by the decades</a></li>
            <li><a href="http://steveharveytv.com/intimacy-tips/">Intimacy tips</a></li>
            <li><a href="http://steveharveytv.com/s2-dr-bermans-tips-on-sex/">Dr Berman’s tips on sex</a></li>
            <li><a href="http://steveharveytv.com/dr-laura-bermans-relationship-advice/">Dr Laura Berman’s relationship advice</a></li>
            <li><a href="http://steveharveytv.com/after-the-show-dr-laura-berman/">After the show: Dr Laura Berman</a></li>
            <li><a href="http://steveharveytv.com/menopause-tips/">Menopause tips</a></li>
            <li><a href="http://steveharveytv.com/preparing-for-menopause/">Preparing for menopause</a></li>
            <li><a href="http://steveharveytv.com/sex-by-the-decades/">Sex by the decades</a></li>
            <li><a href="http://steveharveytv.com/the-sex-diet/">The sex diet</a></li>
            <li><a href="http://steveharveytv.com/long-distance-relationships/">Long distance relationships</a></li>
            <li><a href="http://steveharveytv.com/bring-the-sexy-back-into-your-relationship/">Bring the sexy back into your relationship</a></li>
            <li><a href="http://steveharveytv.com/episodes/couples-ask-is-my-marriage-normal/">Couple’s ask: is my marriage normal?</a></li>
      </ul>

      <h2 id="chicago">From Chicago Sun Times</h2>

      <ul class="links-list group">
            <li><a href="http://www.suntimes.com/lifestyles/berman/27754090-452/relationship-advice-for-kim-kardashian-kanye-west-after-the-wedding.html#.U_uyQcVdV5s">Relationship advice for Kim &amp; Kanye after the wedding</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/27177967-452/young-girls-need-positive-messages-about-healthy-living-rather-than-appearance.html#.U3-ZMXJdV5s">Young girls need positive messages about healthy living</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26902608-452/story.html#.U3-bRHJdV5v">Consider egg freezing option sooner than later</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26644497-452/monogamy-is-tough-but-rewarding.html#.U3-ak3JdV5s">Monogamy is tough but rewarding</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26479348-452/males-can-be-victims-of-sexual-assault-too.html">Males can be victims of sexual assault too</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/26308438-423/make-sure-expectations-are-clear-before-moving-in-together.html">Make sure expectations are clear before moving in together</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26178450-452/work-on-timing-so-your-arrivals-are-at-same-time.html">Work on timing so your arrivals are at the same time</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/26003572-423/a-silver-lining-expands-outreach-to-breast-cancer-survivors.html">A Silver Lining expands outreach to breast cancer survivors</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/25848247-452/dont-make-boys-ashamed-of-their-masculine-side.html">Don’t make boys ashamed of masculine side</a></li>
            <li><a title="More Money Means Better &amp; Safer Sex" href="http://www.suntimes.com/lifestyles/25162983-423/more-means-better-and-safer-sex-study-shows.html">More money mean better and safer sex</a></li>
            <li><a title="A Forced Kiss Sends Wrong Message to Kids" href="http://www.suntimes.com/lifestyles/25099167-423/a-forced-kiss-sends-wrong-message-to-kids.html">Forced kiss sends wrong message to kids</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/23726702-452/wedding-pressure-for-straight-and-gay-couples-now.html" target="_blank">Wedding pressure for straight and gay couples now?</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/health/23436057-423/men-care-about-their-looks-too.html" target="_blank">Men care about their looks, too</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/health/23223438-423/despite-chris-browns-boast-8-year-old-cannot-say-yes-to-sex.html" target="_blank">Despite Chris Brown’s boast, 8-year-old cannot say yes to sex</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/23014925-452/some-pluses-among-negatives-of-hormone-replacement-therapy.html" target="_blank">Some pluses among negatives of Hormone Replacement Therapy</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/22373880-423/kim-kanye-can-tell-you-after-baby-takes-time-to-reconnect.html" target="_blank">Kim &amp; Kanye can tell you, after baby, takes time to reconnect</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/22692426-452/bringing-sexy-to-condoms-can-be-done.html" target="_blank">Bringing sexy to condoms can be done</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/22549608-423/kristen-stewart-will-survive-breakup-and-you-will-too.html" target="_blank">Kristen Stewart will survive break up, and you will, too</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/health/22341177-423/story.html" target="_blank">Miley Cyrus on MTV Video Music Awards</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/22119711-452/the-pluses-and-minuses-of-being-nearlyweds.html" target="_blank">The pluses and minuses of being ‘Nearlyweds’</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/health/21973202-423/this-wife-lets-husband-cheat-once-a-year-would-you.html" target="_blank">This wife lets husband cheat once a year, would you?</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/21765071-423/hooking-up-may-bring-you-down.html" target="_blank">Hooking up may bring you down</a></li>
            <li><a href="http://www.suntimes.com/21547191-761/is-sexting-ever-ok.html" target="_blank">Is sexting ever ok?</a></li>
      </ul>

      <h2 id="tribune">From Chicago Tribune"</h2>

      <ul class="links-list group">
            <li><a href="http://articles.chicagotribune.com/2014-05-13/features/sc-fam-0513-toxic-relationship-20140513_1_person-the-human-magnet-syndrome-addiction">Letting go of toxic relationships</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26453966-452/dont-let-technology-mess-up-your-love-life.html">Don’t let technology mess up your love life</a></li>
            <li><a href="http://articles.chicagotribune.com/2012-12-11/features/ct-tribu-weigel-loneliness-20121211_1_loneliness-holiday-spirit-holiday-party">Flying solo for the season</a></li>
      </ul>

      <h2 id="fox">From Fox News</h2>
      <ul class="links-list group">
            <li><a href="http://www.foxnews.com/health/2014/08/20/6-tips-for-dating-as-single-dad/">6 tips for dating as a single dad </a></li>
            <li><a href="http://www.foxnews.com/health/2014/08/06/5-ways-to-beat-post-baby-sex-blues/">5 ways to beat post baby sex blues</a></li>
            <li><a href="http://www.foxnews.com/health/2014/07/24/sex-and-infertility-commitment-to-one-another-is-key/">Sex and infertility commitment to one another is key</a></li>
            <li><a href="http://video.foxnews.com/v/3664473836001/get-more-sex-now/?playlist_id=2172208039001#sp=show-clips">Get more sex now</a></li>
            <li><a href="http://www.foxnews.com/health/2014/06/01/7-ways-to-improve-post-baby-sex/">7 ways to improve post baby sex</a></li>
            <li><a href="http://www.foxnews.com/health/2014/06/25/truth-about-erectile-dysfunction/">Truth about erectile dysfunction</a></li>
            <li><a href="http://www.foxnews.com/health/2014/05/28/tips-for-getting-him-to-want-more-sex/">Tips for getting him to want more sex</a></li>
            <li><a href="http://www.foxnews.com/health/2014/05/14/is-your-weight-killing-your-sex-life/">Is your weight killing your sex life</a></li>
            <li><a href="http://www.foxnews.com/health/2014/04/30/is-faking-it-how-to-know-if-your-partner-is-being-truthful-in-bed/">Is faking it how to know if your partner is being truthful in bed</a></li>
            <li><a href="http://www.foxnews.com/health/2014/04/16/is-it-cheating-how-to-prevent-infidelity-in-your-relationship/">Is it cheating? How to prevent infidelity in your relationship</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26644497-452/monogamy-is-tough-but-rewarding.html">Monogamy is tough but rewarding</a></li>
            <li><a href="http://www.foxnews.com/health/2014/04/02/too-stressed-for-sex/">Too stressed for sex</a></li>
            <li><a href="http://www.myfoxchicago.com/story/17800360/spice-up-your-sex-life-this-valentines-day-dr-laura-berman">Spice up your sex life this valentine’s day with Dr Laura Berman</a></li>
            <li><a href="http://www.myfoxchicago.com/video?clipId=7072820&amp;autostart=trueDr Berman Discusses new show on the Oprah network">Dr Berman discusses new show on the Oprah network</a></li>
            <li><a href="http://www.myfoxchicago.com/story/17856229/facebook-cited-in-15-of-divorces-dr-laura-berman">Facebook cited in 1/5 divorces: Dr Laura Berman</a></li>
            <li><a href="http://www.myfoxchicago.com/story/17832441/rekindle-a-stale-romance-dr-laura-berman">Rekindle a stale romance: Dr Laura Berman</a></li>
            <li><a href="http://www.myfoxchicago.com/story/21701209/beyonces-new-song-female-tablets-and-up-skirt-photos-chat-room">Chicago women think 20 is best age to lose virginity: chat room</a></li>
      </ul>

      <h2 id="glamour">From Glamour</h2>

      <ul class="links-list group">
            <li><a href="http://www.glamour.com/sex-love-life/2012/08/breaking-up-dos-donts-of-calling-it-quits#slide=1">Breaking up: the dos and don’ts of calling it quits</a></li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2012/01/readers-dilemma-should-i-grant.html">8 Things that could backfire in the bedroom</a></li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2012/01/readers-dilemma-should-i-grant.html">7 Sneaky ways to tell what a guy will be like in bed</a></li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2012/01/readers-dilemma-should-i-grant.html">Should I grant my boyfriend his three-some fantasy?</a></li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2012/01/5-tell-tale-signs-he-may-be-ch.html">Five tell-tale signs he may be cheating</a></li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2011/12/tk-common-mistakes-you-may-be.html">The number one mistake you are making in bed</a></li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2011/12/oral-sex.html">Oral sex: Make his legs shake with this simple move</a></li>
      </ul>

      <h2 id="huffpost">From Huffington Post</h2>

      <ul class="links-list group">
            <li><a href="http://www.huffingtonpost.com/2014/01/27/10-reasons-lift-weights-vagina_n_4647073.html">10 Reasons to lift weights with your vagina</a></li>
            <li><a href="http://www.huffingtonpost.com/marlo-thomas/great-sex-in-your-40s-50s-and-beyond_b_3178512.html" target="_blank">19 Tips for great sex in your 40s, 50s, and beyond</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/tricks-to-great-sex-with-your-partner-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901580.html">Marriage advice: Experts give their most unexpected recommendations</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/tricks-to-great-sex-with-your-partner-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901580.html">Marriage sex: The truth about sex after marriage</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/tricks-to-great-sex-with-your-partner-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901580.html">Talking to your kids about sex</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/tricks-to-great-sex-with-your-partner-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901580.html">Lady Gaga talks sex to Howard Stern: Women should wait until their mid-twenties. Really?</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/tricks-to-great-sex-with-your-partner-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901580.html">Tricks to great sex with your partner</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/what-i-learned-from-getting-cancer-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901696.html">What I learned from getting cancer</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/marlo-thomas-with-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3900711.html">Marlo Thomas with Dr Laura Berman</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/12/21/love-and-sex-relationship-advice-dr-laura-berman_n_2332567.html">Love and sex: Relationship advice from Dr Laura Berman</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/08/12/eva-longoria-sex-therapist_n_3742971.html">Eva Longoria to produce comedy inspired by Sex Therapist Dr Laura Berman</a></li>
            <li><a href="http://www.huffingtonpost.com/2011/12/22/5-new-years-resolutions-f_n_1165870.html">Five new year resolutions for relationships</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/05/sexual-desire-aging-and-h_n_1187573.html">Sexual desire, aging and hormones</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/01/dealing-with-emotional-ab_n_1178726.html">Dealing with emotional abuse</a></li>
            <li><a href="http://www.huffingtonpost.com/2011/11/30/ask-sex-expert-dr-laura-b_n_1121544.html">Ask sex expert Dr Laura Berman</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/05/options-for-contraception_n_1187565.html">Options for contraception</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/01/a-hysterectomys-effects-o_n_1178736.html">A hysterectomy’s effects on libido</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/01/his-and-hers-orgasms-from_n_1178748.html">His and hers orgasms</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/05/how-to-deal-with-children_n_1187498.html">How to deal with children and masturbation</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/what-if-youre-not-attracted-to-your-partner-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901769.html">What if you’re not attracted to your partner</a></li>
            <li><a href="http://www.huffingtonpost.com/2011/02/15/the-joy-behar-show-millio_n_823780.html">The Joy Behar Show: Millionaire Matchmaker Patti Stanger and Dr Laura Berman talk digital infidelity</a></li>
            <li><a href="http://www.huffingtonpost.com/2012/01/03/experimenting-with-light-_n_1181233.html">Experimenting with light bondage</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/tips-for-strengthening-your-pelvic-floor-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901269.html">Tips for strengthening your pelvic floor</a></li>
            <li><a href="http://www.huffingtonpost.com/2013/09/10/how-to-use-ben-wa-balls-from-dr-laura-berman-marlo-thomas-mondays-with-marlo_n_3901030.html">How to use ben wa balls</a></li>
            <li><a href="http://www.huffingtonpost.com/tag/sex-after-pregnancy">Sex after pregnancy</a></li>
      </ul>

      <h2 id="latimes">From LA Timesw</h2>

      <ul class="links-list group">
            <li><a href="http://articles.latimes.com/2012/apr/17/entertainment/la-et-fifty-shades-of-grey-20120417">Debate on female sexual dysfunction continues</a></li>
            <li><a href="http://articles.latimes.com/2012/apr/17/entertainment/la-et-fifty-shades-of-grey-20120417">‘Fifty Shades of Grey’ is selling books (and more)</a></li>
            <li><a href="http://latimesblogs.latimes.com/alltherage/2011/02/a-truth-for-valentines-day-ladies-seeing-you-naked-makes-him-happy.html">A truth for Valentine’s Day: Ladies, seeing you naked makes him happy</a></li>
            <li><a href="http://www.latimes.com/entertainment/kdaf-wednesday-least-sexy-story,0,3642969.story#axzz2uRk1EKR5">Hump day not so sexy</a></li>
      </ul>

      <h2 id="marieclaire">From Marie Claire</h2>
      <ul class="links-list group">
            <li><a href="http://au.lifestyle.yahoo.com/marie-claire/lifestyle/news/article/-/19754204/how-to-put-the-spark-back-in-to-your-relationship/">Ten tips for improving your love life</a></li>
            <li><a href="http://au.lifestyle.yahoo.com/marie-claire/lifestyle/news/article/-/19754204/how-to-put-the-spark-back-in-to-your-relationship/">How to put the spark back in your relationship</a></li>
            <li><a href="http://au.lifestyle.yahoo.com/marie-claire/lifestyle/news/article/-/10274132/spring-clean-your-relationship/">Spring clean your relationship</a></li>
            <li><a href="http://shine.yahoo.com/love-sex/4-ways-burst-libido-220500242.html;_ylt=AwrBEiI0YA5TFQcAU9lJvYlQ">Four ways to boost your libido</a></li>
      </ul>

      <h2 id="ch5">From Chicago 5</h2>
      <ul class="links-list group">
            <li><a href="http://www.nbcchicago.com/blogs/popcornbiz/Monday-Watch-List-BCS-Title-Game-113197719.html" target="_blank">Monday Watch List: In the Bedroom with Dr Laura Berman</a></li>
            <li><a href="http://www.nbcchicago.com/news/local/Making-It-Work-After-A-Royal-Wedding-120665409.html" target="_blank">How to make it work after royal wedding</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/entertainment/television/Dr--Laura-Berman-on-Why-Powerful-Men-Cheat/122829139" target="_blank">Why powerful men cheat</a></li>
            <li><a href="http://www.nbcchicago.com/news/local/Oprahs-Star-Studded-After-Party-122148339.html" target="_blank">Oprah’s star-studded after party</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/the-scene/events/In-the-Bedroom-with-Dr--Laura-Berman/112907239" target="_blank">In the Bedroom with Dr Laura Berman</a></li>
            <li><a href="http://www.nbcchicago.com/the-scene/events/Dr-Laura-Berman-Gets-her-OWN-Show-oprah-winfrey-in-the-bedroom-112947904.html" target="_blank">Dr Laura Berman gets her OWN show</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/shows/newstoday/Dr--Laura-Berman-Talks-Finding-Love/112862909" target="_blank">Dr Laura Berman talks finding love</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Better-In-Bed-Per-Dr--Berman/39909182" target="_blank">Better in bed per Dr Laura Berman</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Staying-Fit-Helps-Keep-Couples-Close/39199267" target="_blank">Staying fit helps couples feel close</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Is-He-Really-Into-You-/38699892" target="_blank">Is he really into you?</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Better-Sex--Its-Not-Like-The-Movies/38217414">Better sex, it’s not like the movies</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Improve-Your-Love-Life-This-Year/37005104">Improve your love life this year</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Why-Do-Bad-Boys-Get-The-Girls-/36571099">Why do bad boys get the girls?</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Surviving-Your-Family-Over-the-Holidays/34879864">Surviving your family over the holidays</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Illustrated-Real-Sex-for-Real-Women-Book-Released/34273059">Illustrated ‘Real Sex for Real Women’ book released</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Real-Women-Get-Real-Sex-Advice/34083279">Real women get real sex advice</a></li>
            <li><a href="http://www.nbcchicago.com/video/#!/news/health/Women-Who-Cheat-With-Taken-Men/33255559">Women who cheat with taken men</a></li>
            <li><a href="http://www.nbcchicago.com/news/health/Bored_with_monogamy__Fall_in_love_again.html">Bored with monogamy? Fall in love again</a></li>
      </ul>

      <h2 id="other">From Other Media</h2>
      <ul class="links-list group">
            <li><a href="http://adrinkwith.com/dr-laura-berman/">A Drink With Chicago 9.5.13</a> – A Drink With Chicago: Dr Laura Berman</li>
            <li><a href="http://www.towleroad.com/2013/06/hardball.html">Hardball with Chris Matthews</a> – Hardball with Chris Matthews: The death of the ex-gay movement</li>
            <li><a href="http://www.thedoctorstv.com/main/show_synopsis/1222?section=synopsis">The Doctors 3.6.13</a> – The Doctors: Sex in your 60’s</li>
            <li><a style="line-height: 1.5em;" href="http://www.lasplash.com/publish/Entertainment/cat_index_la_events/o-you_printer.php">LA Splash 10.30.12</a><span style="color: #333333; line-height: 1.5em;"> – LA Splash: O, The Oprah Magazine brings O You! To Los Angeles</span></li>
            <li><a href="http://www.ivillage.com/bedroom-dr-laura-berman/6-h-326085">iVillage 9.24.12</a> – iVillage: In the Bedroom with Dr Laura Berman</li>
            <li><a href="http://chicagotonight.wttw.com/2012/08/14/laura-berman-goes-bald">WTTW Chicago Tonight 8.14.12</a> – WTTW Chicago Tonight: Dr Laura Berman goes bald</li>
            <li><a href="http://www.gourmet.com/food/gourmetlive/2012/051612/libido-killing-food">Gourmet.com 5.16.12</a> – Gourmet: Libido killing food</li>
            <li><a href="http://www.sheknows.com/love-and-sex/articles/946503/how-to-spice-up-your-sex-life-part-1">SheKnows.com 2.15.12</a> – SheKnows.com: How to spice up your sex life</li>
            <li><a href="http://yourlife.usatoday.com/sex-relationships/story/2012-02-02/Survey-gives-a-snapshot-of-singles-in-America/52922248/1">USA Today 2.2.12</a> – USA Today: Many singles looking for love, but not marriage</li>
            <li><a href="http://abclocal.go.com/wls/story?section=resources/lifestyle_community&amp;id=8484895">ABC 7 Chicago 12.30.11</a> – ABC 7 Chicago: Five ways to jump start intimacy</li>
            <li><a href="http://abclocal.go.com/wls/video?id=7614081">ABC 7 Chicago: Puberty too early</a></li>
            <li><a href="http://www.aarp.org/health/conditions-treatments/info-05-2011/ways-to-get-condoms-and-std-tests.html">AARP.com 5.24.11</a> – AARP: Discreet ways to get condoms and STD tests</li>
            <li><a href="http://www.nydailynews.com/lifestyle/2011/03/31/2011-03-31_rihanna_talks_sm_submissive_sex_in_interview_can_sexual_role_play_play_healing_r.html">NY Daily News 3.31.11</a> – NY Daily News: Rihanna talks S&amp;M, submissive sex in interview; Can sexual role-play play healing role after abuse?</li>
            <li><a href="http://www.nydailynews.com/life-style/health/men-donate-boob-bank-women-implants-article-1.1189427">NY Daily News</a>&nbsp;–&nbsp;Website offers to connect desperate women seeking breast enhancement surgery with ‘benefactors’ willing to pay for them</li>
            <li><a href="http://www.cosmopolitan.com/sex-love/sex/Embarrassing-Sex-Problems">Cosmopolitan</a> – Cosmopolitan: Embarrassing sex problems</li>
      </ul>

      <h2 id="parenting">From Parenting</h2>

      <ul class="links-list group">
            <li><a href="http://www.parenting.com/article/meet-the-mom-squad?cid=searchresult">Ask Laura: My husband doesn’t want to have sex!</a></li>
            <li><a href="http://www.parenting.com/article/meet-the-mom-squad?cid=searchresult">Meet the mom squad</a></li>
            <li><a href="http://www.parenting.com/article/ask-laura-how-to-do-a-tasteful-striptease?cid=searchresult">Ask Laura: How to do a tasteful striptease</a></li>
            <li><a href="http://www.parenting.com/article/ask-laura-disciplining-stepchildren?cid=searchresult">Ask Laura: Disciplining step-children</a></li>
            <li><a href="http://www.parenting.com/article/ask-laura-the-right-marriage-counselor?cid=searchresult">Ask Laura: The right marriage counselor</a></li>
            <li><a href="http://www.parenting.com/article/ask-laura-how-to-get-in-sync-in-bed?cid=searchresult">Ask Laura: How to get in sync in bed</a></li>
            <li><a href="http://www.parenting.com/article/i-dont-want-more-kids-but-my-husband-does?cid=searchresult">‘I don’t want more kids but my husband does’</a></li>
            <li><a href="http://www.parenting.com/article/ways-to-get-in-the-mood-for-sex?cid=searchresult">Three ways to get in the mood for sex</a></li>
            <li><a href="http://www.parenting.com/article/maintaining-a-positive-outlook-on-life?cid=searchresult">Maintaining a positive outlook on life</a></li>
            <li><a href="http://www.parenting.com/article/ask-laura-i-have-a-crush-that-is-inoti-my-husband?cid=searchresult">Ask Laura: I have a crush that is not my husband</a></li>
            <li><a href="http://www.parenting.com/article/ask-laura-my-husband-rarely-wants-sex?cid=searchresult">Ask Laura: My husband rarely wants sex</a></li>
            <li><a href="http://www.parenting.com/article/get-great-after-baby-sex?cid=searchresult">Get great after-baby sex</a></li>
            <li><a href="http://www.parenting.com/article/if-sex-hurts?cid=searchresult">If sex hurts</a></li>
            <li><a href="http://www.parenting.com/article/did-i-fall-out-of-love-with-my-husband?cid=searchresult">Ask Laura: Did I fall out of love with my husband</a></li>
            <li><a href="http://www.parenting.com/article/can-birth-control-lower-my-libido?cid=searchresult">Can birth control lower my libido?</a></li>
            <li><a href="http://www.parenting.com/article/ways-spice-your-baby-making-sex?cid=searchresult">Ways to spice up baby-making sex</a></li>
            <li><a href="http://www.parenting.com/article/how-to-heat-up-your-love-life?cid=searchresult">How to heat up your love life</a></li>
      </ul>      

      <h2 id="redbook">From Redbook</h2>
      <ul class="links-list group">
            <li><a href="http://www.redbookmag.com/kids-family/advice/more-family-time?click=main_sr">How to maximize family time on the weekend</a></li>
            <li><a href="http://www.redbookmag.com/love-sex/blogs/sex-stories/fifty-shades-of-grey-book-review?click=main_sr">What’s the deal with 50-shades of gray?</a></li>
            <li><a href="http://www.redbookmag.com/love-sex/happy-couples-tips?click=main_sr#slide-11">15 Secrets of happy couples</a></li>
            <li><a href="http://www.redbookmag.com/love-sex/advice/best-sex-article-tips?click=main_sr#slide-1">Top 40: Sex tips from our 40 steamiest sex articles</a></li>
      </ul>

      <h2 id="shape">From Shape</h2>

      <ul class="links-list group">
            <li><a href="http://www.shape.com/lifestyle/mind-and-body/healthy-relationship-advice-get-closer">Eight things men wish women knew about sex</a></li>
            <li><a href="http://www.shape.com/lifestyle/mind-and-body/healthy-relationship-advice-get-closer">Healthy relationship advice: get closer</a></li>
      </ul>

      <h2 id="usnews">From US News</h2>
      <ul class="links-list group">
            <li><a href="http://health.usnews.com/health-news/articles/2012/08/03/teaching-your-kids-about-sex-dos-and-donts">What was Anthony Weiner thinking?</a></li>
            <li><a href="http://health.usnews.com/health-news/articles/2012/08/03/teaching-your-kids-about-sex-dos-and-donts">Teaching your kids about sex: dos and don’ts</a></li>
            <li><a href="http://health.usnews.com/health-news/articles/2012/07/16/how-to-heat-up-your-love-life-this-summer">How to heat up your love life this summer</a></li>
      </ul>

      <h2 id="wciu">From WCIU</h2>

      <ul class="links-list group">
            <li><a href="http://www.wciu.com/youandme.php?section=home&amp;assets=videos&amp;assetID=10010998" target="_blank">Dr Berman talks Anthony Weiner</a></li>
            <li><a href="http://www.wciu.com/youandme.php?section=home&amp;assets=videos&amp;assetID=10010998" target="_blank">Beating breast cancer</a></li>
            <li><a href="http://www.wciu.com/youandme.php?section=home&amp;assets=videos&amp;assetID=10010997" target="_blank">Social media killing your relationship</a></li>
            <li><a href="http://www.youtube.com/watch?v=Kg6zXbQapn4" target="_blank">Dr Berman’s tips to keep your love life spicy</a></li>
            <li><a href="http://www.wciu.com/youandme.php?section=home&amp;assets=videos&amp;assetID=10010040" target="_blank">Dr Laura Berman’s hot holiday list</a></li>
            <li><a href="http://www.wciu.com/youandme.php?section=home&amp;assets=videos&amp;assetID=10010040" target="_blank">Dr Laura Berman: Spice it up</a></li>
      </ul>

      <h2 id="wgn">From Wgn</h2>

      <ul class="links-list group">
            <li><a href="http://wgntv.com/2014/07/14/how-to-calculate-youre-pretty-week/">Dr Laura Berman who to calculate your pretty week</a></li>
            <li><a href="http://wgntv.com/2014/06/03/is-facebook-ruining-your-marriage-dr-laura-berman-chimes-in/">Dr Laura Berman is Facebook ruining your marriage</a></li>
            <li><a href="http://wgnradio.com/2014/01/28/love-lab-dr-laura-berman-2/">Dr Laura Berman Love Lab</a></li>
            <li><a href="http://morningnews.wgntv.com/2014/01/30/sex-therapist-dr-laura-berman-answers-viewer-relationship-questions/">Dr Laura Berman on panties, introducing your partner as your ‘lover’</a></li>
            <li><a href="http://morningnews.wgntv.com/2014/01/30/sex-therapist-dr-laura-berman-answers-viewer-relationship-questions/">Dr Laura Berman talks Miley’s sex image and Manning’s sex change</a></li>
            <li><a href="http://morningnews.wgntv.com/2014/01/30/sex-therapist-dr-laura-berman-answers-viewer-relationship-questions/">Dr Laura Berman on Weiner scandal and sex addiction</a></li>
            <li><a href="http://morningnews.wgntv.com/2014/01/30/sex-therapist-dr-laura-berman-answers-viewer-relationship-questions/">Dr Laura Berman on Douglas’ oral sex claim, viewer sex questions</a></li>
            <li><a href="http://morningnews.wgntv.com/2014/01/30/sex-therapist-dr-laura-berman-answers-viewer-relationship-questions/">Sex Therapist Dr Laura Berman answers viewers relationship questions</a></li>
            <li><a href="http://morningnews.wgntv.com/2013/10/08/dr-laura-berman-on-kids-dating-and-viewer-sex-questions/">Dr Laura Berman on kids, dating and viewer sex questions</a></li>
            <li><a href="http://www.foxnews.com/health/2014/08/20/6-tips-for-dating-as-single-dad/">6 tips for dating as a single dad </a></li>
            <li><a href="http://www.foxnews.com/health/2014/08/06/5-ways-to-beat-post-baby-sex-blues/">5 ways to beat post baby sex blues</a></li>
            <li><a href="http://www.foxnews.com/health/2014/07/24/sex-and-infertility-commitment-to-one-another-is-key/">Sex and infertility commitment to one another is key</a></li>
            <li><a href="http://video.foxnews.com/v/3664473836001/get-more-sex-now/?playlist_id=2172208039001#sp=show-clips">Get more sex now</a></li>
            <li><a href="http://www.foxnews.com/health/2014/06/01/7-ways-to-improve-post-baby-sex/">7 ways to improve post baby sex</a></li>
            <li><a href="http://www.foxnews.com/health/2014/06/25/truth-about-erectile-dysfunction/">Truth about erectile dysfunction</a></li>
            <li><a href="http://www.foxnews.com/health/2014/05/28/tips-for-getting-him-to-want-more-sex/">Tips for getting him to want more sex</a></li>
            <li><a href="http://www.foxnews.com/health/2014/05/14/is-your-weight-killing-your-sex-life/">Is your weight killing your sex life</a></li>
            <li><a href="http://www.foxnews.com/health/2014/04/30/is-faking-it-how-to-know-if-your-partner-is-being-truthful-in-bed/">Is faking it how to know if your partner is being truthful in bed</a></li>
            <li><a href="http://www.foxnews.com/health/2014/04/16/is-it-cheating-how-to-prevent-infidelity-in-your-relationship/">Is it cheating? How to prevent infidelity in your relationship</a></li>
            <li><a href="http://www.suntimes.com/lifestyles/berman/26644497-452/monogamy-is-tough-but-rewarding.html">Monogamy is tough but rewarding</a></li>
            <li><a href="http://www.foxnews.com/health/2014/04/02/too-stressed-for-sex/">Too stressed for sex</a></li>
            <li><a href="http://www.myfoxchicago.com/story/17800360/spice-up-your-sex-life-this-valentines-day-dr-laura-berman">Spice up your sex life this valentine’s day with Dr Laura Berman</a></li>
            <li><a href="http://www.myfoxchicago.com/video?clipId=7072820&amp;autostart=trueDr Berman Discusses new show on the Oprah network">Dr Berman discusses new show on the Oprah network</a></li>
            <li><a href="http://www.myfoxchicago.com/story/17856229/facebook-cited-in-15-of-divorces-dr-laura-berman">Facebook cited in 1/5 divorces: Dr Laura Berman</a></li>
            <li><a href="http://www.myfoxchicago.com/story/17832441/rekindle-a-stale-romance-dr-laura-berman">Rekindle a stale romance: Dr Laura Berman</a></li>
            <li><a href="http://www.myfoxchicago.com/story/21701209/beyonces-new-song-female-tablets-and-up-skirt-photos-chat-room">Chicago women think 20 is best age to lose virginity: chat room</a></li>
      </ul>

      <h2 id="wind">From Wind City Live</h2>

      <ul class="links-list group">
            <li><a href="http://windycitylive.com/episodes/Windy-City-LIVE:-Pillow-Talk/9539275">Pillow Talk</a></li>
            <li><a href="http://windycitylive.com/episodes/Dr--Laura-Berman-Talks-About-Her-Breast-Cancer-Treatment/9280842" target="_blank">Dr Laura Berman talks about her breast cancer treatment</a></li>
            <li><a href="http://windycitylive.com/video?id=9252993" target="_blank">Dr Laura Berman answers your most burning questions</a></li>
            <li><a href="http://windycitylive.com/video?id=8956390" target="_blank">2013 Relationship Revolutions</a></li>
            <li><a href="http://windycitylive.com/episodes/Dr.-Laura-Berman-and-Chef-Cory-Morris/8900920" target="_blank">Dr Laura Berman, bringing sexy back</a></li>
            <li><a href="http://windycitylive.com/episodes/Whats-Your-Fantasy-/8797247" target="_blank">What’s your fantasy?</a></li>
            <li><a href="http://windycitylive.com/episodes/Dr--Laura-Berman-answers-your-questions/8387196" target="_blank">Dr Laura Berman answers your questions</a></li>
            <li><a href="http://www.youtube.com/watch?v=kQcfF8m0AdA" target="_blank">Jimmy Kimmel talks sex with Dr Laura Berman</a></li>
            <li><a href="http://windycitylive.com/video?id=8180321" target="_blank">Go ‘In the Bedroom’ with Dr Laura Berman</a></li>
            <li><a href="http://windycitylive.com/episodes/Dr--Laura-Berman-talks-about-her-new-book-Loving-Sex/8303278" target="_blank">Dr Laura Berman talks about her book Loving Sex</a></li>
            <li><a href="http://windycitylive.com/episodes/Breast-Cancer-Survivors/9280728">Breast cancer survivors</a></li>
            <li><a href="http://windycitylive.com/video?id=8387323">Dr Berman answers your questions</a></li>
      </ul>-->


</div>

